<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MegarMart |</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="icon" href="/images/title_icon.png">


     

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/brands.min.css" integrity="sha512-W/zrbCncQnky/EzL+/AYwTtosvrM+YG/V6piQLSe2HuKS6cmbw89kjYkp3tWFn1dkWV7L1ruvJyKbLz73Vlgfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/regular.min.css" integrity="sha512-rOTVxSYNb4+/vo9pLIcNAv9yQVpC8DNcFDWPoc+gTv9SLu5H8W0Dn7QA4ffLHKA0wysdo6C5iqc+2LEO1miAow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  
        
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/paymnet.css">
    <script  src="./node_modules/axios/dist/axios.min.js"></script>
    <script  src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/javascript/misc.js"></script>
    <script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="./node_modules/axios/dist/axios.min.js"></script> -->
    
        <script>
            function gotoDetail(productId){
                window.location.href=`/products/product-detail/${productId}/mainimage`
            }
        </script>
</head>

<body>

    <header class="main_nav">
        <div class="top_bar">
            <p style="margin: 0;">Summer Sale For All Gadget And Free Express Delivery - OFF 50%!</p>
        </div>
        <div class="nav_bar">
            <div class="all_items">
                <div class="logo_section">
                    <a href="/">

                        <img src="/images/Logo.svg" alt="" class="main">
                        <img src="/images/title_icon.png" alt="" class="sma">
                    </a>
                </div>
                <div class="links">
                    <a href="/">
                        <span class="ico">
                            <i class="fa-sharp fa-house"></i>
                        </span>
                        Home
                        <span>
                            <img src="/images/icons8-right-16.png" alt="">
                        </span>
                    </a>
                    <a href="">
                        <span class="ico">
                            <i class="fa-solid fa-address-card"></i>
                        </span>
                        Contact
                        <span>
                            <img src="/images/icons8-right-16.png" alt="">
                        </span>
                    </a>
                    <a href="/products">
                        <span class="ico">
                            <i class="fa-solid fa-eject"></i>
                        </span>
                        Products
                        <span>
                            <img src="/images/icons8-right-16.png" alt="">
                        </span>
                    </a>
                    <%if(profile){%>
                        <a href="/users/product/orders/trackorders/<%-id%>">
                            <span class="ico">
                                <i class="fa-solid fa-truck"></i>
                            </span>
                            Orders
                            <span>
                                <img src="/images/icons8-right-16.png" alt="">
                            </span>
                        </a>
                        <%}else{%>
                            <a href="/user/login">
                                <span class="ico">
                                    <i class="fa-solid fa-at"></i>
                                </span>
                                Login
                                <span>
                                    <img src="/images/icons8-right-16.png" alt="">
                                </span>
                            </a>
                        <%}%>
                </div>
                <div class="icons">
                    <div style="display: flex;align-items: center;justify-content: center;padding:5px 7px;background: #f5f5f5f5;font-size: 12px;cursor: pointer;" class="sorting">
                        sort
                      <img src="/images/sort.svg" style="width: 15px;height: 18px;" alt="">
                    </div>
                    <div style="display: flex;align-items: center;justify-content: center;padding:5px 7px;background: #f5f5f5f5;font-size: 12px;cursor: pointer;" id="filterbtn">
                        filter
                        <img src="/images/filter.svg" style="height: 15px;width: 15px;" alt="">
                    </div>
                    <form class="search_box"  id="searchboxforproduct">
                        <input type="search" placeholder="search product" name="searchdata" oninput="searchProductInHome(event,'<%-profile%>')">
                        <input type="submit" value="" id="btn" style="display: none;">
                        <label for="btn" style="margin: 0;padding: 0;height: auto;">
                            <img src="/images/search.svg" alt="">
                        </label>
                    </form>
                    <%if(profile){%>
                        <a href="/users/product/whishlist/<%-id%>"  class="crt whish">
                            <img class="whish" src="/images/heart.svg" alt="">
                            <span id="whish"><%-whishCount%></span>
                        </a>
                        <a href="/users/product/cart/showcart/<%-id%>" class="crt">
                            <img class="cart" src="/images/cart.svg" alt="">
                            <span id="cartCnt"><%-cartCount%></span>
                        </a>
                        <% }else{%>
                            <a href="/user/login">
                                <img class="whish" src="/images/heart.svg" alt="">
                            </a>
                            <a href="/user/login">
                                <img class="cart" src="/images/cart.svg" alt="">
                            </a>
                            <% }%>
                            <%if(profile){%>
                                <a id="profile_btn" style="cursor: pointer;">
                                    <img src="/images/userprofile.svg" alt="">
                                </a>
                                <% } %>
                                <img class="menu" src="/images/menu_bar.svg" alt="">
                </div>
            </div>
        </div>
    </header>