<%-include('./adminPartials/header.ejs') %>
    <div class="home" style="display: flex;" style="min-height:100vh;">
        <%-include('./adminPartials/sidebar.ejs')%>
            <div class="content_section" style="overflow: hidden;">
                <div class="overview_section">
                    <div class="head_inp">
                        <h5>Products</h5>
                        <div style="display: flex;gap: 20px;">
                            <form class="inp" style="height: 30px;display: flex;align-items: center;justify-content: start;background: #29292c;border-radius: 4.099px;padding: 0 10px;" method="post" action="/admin/products/serach/searchproduct/">
                                <input type="text" style="height: 100%;border: none;outline: none;background:transparent;font-size: 12px;" placeholder="Search Product" name="search">
                                <button style="height: 100%;width: 20px;margin: 0;padding: 0;background: transparent;display: flex;align-items: center;justify-content: center;">

                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20 20L16.2223 16.2156M18.3158 11.1579C18.3158 13.0563 17.5617 14.8769 16.2193 16.2193C14.8769 17.5617 13.0563 18.3158 11.1579 18.3158C9.2595 18.3158 7.43886 17.5617 6.0965 16.2193C4.75413 14.8769 4 13.0563 4 11.1579C4 9.2595 4.75413 7.43886 6.0965 6.0965C7.43886 4.75413 9.2595 4 11.1579 4C13.0563 4 14.8769 4.75413 16.2193 6.0965C17.5617 7.43886 18.3158 9.2595 18.3158 11.1579V11.1579Z" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                                        </svg>
                                        
                                </button>
                            </form>
                            <a href="/admin/logout">Logout</a>
                        </div>
                    </div>
                </div>
                <div class="items_section" style="flex-direction: column;align-items: center;justify-content: center;overflow: hidden;">
                    
                    <div class="add_product_section" id="adp" style="overflow:hidden;display: block;position: absolute;left:50%;top:50%;transform: translate(-50%,-50%);display: flex;align-items:center;justify-content: center;">
                        <img src="/images/close.png" style="width:20px;height: 20px;position:absolute;top:5%;right:2%;cursor:pointer" alt="" id="clsbtn" onclick="window.location.href='/admin/products'">
                        
                        <form action="/admin/products/add-products" method="post" class="form_section" enctype="multipart/form-data" style="position: relative;">
                            <div class="images">
                                
                                <div class="preview_imgs">
                                    <div class="secondary">
                                        <input type="file" name="image1" accept="image/*" id="imag1"  onchange="previewImage('imag1', 'im1','1l')">
                                        <label for="imag1">
                                            <p id="1l">
                                                Upload Preview image 1
                                            </p>
                                            <img src="" alt="" id="im1">
                                        </label>
                                        <input type="file" name="image2" accept="image/*" id="imag2"  onchange="previewImage('imag2', 'im2','l2')">
                                        <label for="imag2">
                                            <p id="l2">
                                                Upload Preview image 2
                                            </p>
                                            <img src="" alt="" id="im2">
                                        </label>
                                        <input type="file" name="image3" accept="image/*" id="imag3"  onchange="previewImage('imag3', 'im3','l3')">
                                        <label for="imag3">
                                            <p id="l3">
                                                Upload Preview image 3
                                            </p>
                                            <img src="" alt="" id="im3">
                                        </label>
                                        <input type="file" name="image4" accept="image/*" id="imag4"  onchange="previewImage('imag4', 'im4','l4')">
                                        <label for="imag4">
                                            <p id="l4">
                                                Upload Preview image 4
                                            </p>
                                            <img src="" alt="" id="im4">
                                        </label>
                                    </div>
                                    <div class="main">
                                        <input type="file" name="main"  accept="image/*" id="main"  onchange="previewImage('main', 'mn','ml')">
                                        <label for="main">
                                            <p id="ml">
                                                Main image
                                            </p>
                                            <img src="" alt="" id="mn">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <%if(err){%>
                                <div style="position: absolute;top:20px;left: 50%;transform: translateX(-50%);display: flex;align-items: center;justify-content: space-between;padding: 0px 5px;min-width: 300px;border-radius: 5px;
                                font-size: 12px;min-height: 25px;border: 1px solid rgb(205, 116, 116);">
                                    Please Fillout All Field
                                    <a href="/admin/products/add-products/''">
                                        <img src="/images/cross.png" style="width: 13px;height:13px" alt="">
                                    </a>
                                </div>
                            <%}%>
                            <div class="inputs">
                                <div class="all_inp">
                                    <div class="head">
                                        <h4>Add product</h4>
                                    </div>
                                    <div class="control_section">
                                        <p for="">product name</p>
                                        <input type="text"  name="productname" >
                                    </div>
                                    <div class="control_section " id="sp">
                                        <div class="p">

                                            <p for="">Price</p>
                                            <input type="number" name="price" >
                                        </div>
                                        <div class="dsp">

                                            <p for="">Discountedprice</p>
                                            <input type="number" name="discount">
                                        </div>
                                    </div>
                                    <div class="control_section " id="sp">
                                        <div class="p" style="width: 100%;">

                                            <p for="">Brand</p>
                                            <input type="text" name="brand" >
                                        </div>
                                    </div>
                                    <div class="control_section " id="sp">
                                        <div class="p">

                                            <p for="">Stock</p>
                                            <input type="number" name="stock" >
                                        </div>
                                        <div class="dsp">

                                            <p for="">Category</p>
                                            <select name="category" id="">
                                                    <%categories.forEach((value)=>{%>
                                                        <%if(value.categorystatus){%>

                                                            <option value="<%-value.categoryname%>"><%-value.categoryname%></option>
                                                        <%}%>
                                               <% })%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control_section " id="sp">
                                        <div class="p" id="spc">
                                            <p for="" style="position: absolute;top:0;left:0">Specifications</p>
                                            <input type="text" name="spec1">
                                            <input type="text" name="spec2">
                                            <input type="text" name="spec3" placeholder="optional">
                                            <input type="text" name="spec4" placeholder="optional">
                                        </div>
                        
                                    </div>
                                    <div class="control_section">
                                        <p for="">Description</p>
                                        <textarea name="description" id="" ></textarea>
                                    </div>
                                    <div class="control_section end">
                                        <button type="submit">submit</button>
                                        <button type="reset">cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                   
                    
                </div>
            </div>
    </div>
    
    <script>
        let adprbtn=document.querySelector('#mySizeChart')
        let popup=document.querySelector('.add_product_section')
        let closeb=document.querySelector('#clsbtn')
        adprbtn.addEventListener('click',()=>{
            
            popup.classList.add('active')
        })
        closeb.addEventListener('click',()=>{
            popup.classList.remove('active')
        })
        document.getElementById("plus").addEventListener('click',addSpecificationField)
        function previewImage(inputId, imgId,label) {
            const input = document.getElementById(inputId);
            const img = document.getElementById(imgId);
            const labeltext=document.getElementById(label)
            // Check if a file was selected
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                
                // Set up a function to run when the image is loaded
                reader.onload = function (e) {
                    img.src = e.target.result;
                    labeltext.style.display='none'
                };
                
                // Read the selected file as a data URL and load it into the img tag
                reader.readAsDataURL(input.files[0]);
            } else {
                // If no file was selected or the browser doesn't support FileReader, clear the image
                img.src = "";
            }
        }
    </script>
    <%-include('./adminPartials/footer.ejs')%>