<%-include('./adminPartials/header.ejs') %>
    <div class="home" style="display: flex;" style="min-height:100vh">
        <%-include('./adminPartials/sidebar.ejs')%>
            <div class="content_section">
                <div class="overview_section">
                    <div class="head_inp">
                        <h5>Customers</h5>
                        <div style="display: flex;gap: 20px;">
                            <form class="inp" style="height: 30px;display: flex;align-items: center;justify-content: start;background: #29292c;border-radius: 4.099px;padding: 0 10px;" method="post" action="/admin/user/search/searchuser/">
                                <input type="text" style="height: 100%;border: none;outline: none;background:transparent;font-size: 12px;" placeholder="Search User" name="search">
                                <button style="height: 100%;width: 20px;margin: 0;padding: 0;background: transparent;display: flex;align-items: center;justify-content: center;">

                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20 20L16.2223 16.2156M18.3158 11.1579C18.3158 13.0563 17.5617 14.8769 16.2193 16.2193C14.8769 17.5617 13.0563 18.3158 11.1579 18.3158C9.2595 18.3158 7.43886 17.5617 6.0965 16.2193C4.75413 14.8769 4 13.0563 4 11.1579C4 9.2595 4.75413 7.43886 6.0965 6.0965C7.43886 4.75413 9.2595 4 11.1579 4C13.0563 4 14.8769 4.75413 16.2193 6.0965C17.5617 7.43886 18.3158 9.2595 18.3158 11.1579V11.1579Z" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                                        </svg>
                                        
                                </button>
                            </form>
                            <a href="/admin/logout">Logout</a>
                        </div>
                    </div>
                </div>
                <div class="items_section">
                    <div class="table" id="tb">
                        <div class="top_section">
                            <p>Customers</p>
                            <div class="filter">
                                <a id="filteruser">Filtered by
                                    <svg width="17" height="18" viewBox="0 0 17 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.1934 15.9636V8.44873" stroke="#898989" stroke-width="1.02476"
                                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M13.1934 5.7159V2.30005" stroke="#898989" stroke-width="1.02476"
                                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M8.41016 15.9635V12.5476" stroke="#898989" stroke-width="1.02476"
                                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M8.41016 9.81492V2.30005" stroke="#898989" stroke-width="1.02476"
                                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M3.62891 15.9636V8.44873" stroke="#898989" stroke-width="1.02476"
                                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M3.62891 5.7159V2.30005" stroke="#898989" stroke-width="1.02476"
                                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M2.26172 8.44873H4.9944" stroke="#898989" stroke-width="1.02476"
                                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M11.8281 8.44873H14.5608" stroke="#898989" stroke-width="1.02476"
                                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M7.04297 9.81519H9.77565" stroke="#898989" stroke-width="1.02476"
                                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <a  id="sortedby">Sorted by
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M14.6027 7.02075L10.1484 11.475C9.62236 12.0011 8.76156 12.0011 8.23552 11.475L3.78125 7.02075"
                                            stroke="#898989" stroke-width="1.02476" stroke-miterlimit="10"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="filterArea">
                            <a href="/admin//user/filter/blocked">Blocked</a>
                            <a href="/admin/user/filter/unblocked">Unblocked</a>
                            <a href="/admin/">All</a>
                        </div>
                        <div class="sorted">
                            <a href="/admin/user/filter/latest">Latest</a>
                            <a href="/admin/user/filter/oldest">Oldest</a>
                            <a href="javascript:void(0);" onclick="sortByName()">
                                Name
                                <img src="/images/sort.svg" style="transform: rotate(-90deg);" alt="">
                            </a>
                        </div>
                       
                        
                        
                        
                        
                        
                        
                        <div class="table_content">
                            <div class="table_datas head">NAME</div>
                            <div class="table_datas head">EMAIL</div>
                            <div class="table_datas head">PROFILE</div>
                            <div class="table_datas head">JOIN DATE</div>
                            <div class="table_datas head">STATUS</div>
                            <div class="table_datas head"></div>
                        </div>
                        <%usersData.forEach((data)=>{%>
                            <div class="table_content data_section">
                                <div class="table_datas "><%-data.name %></div>
                                <div class="table_datas "><%-data.email %></div>
                                <div class="table_datas ">
                                    <%if(data.profileImage){%>
                                        <img src="<%-data.profileImage%>" alt="" style="width: 23px;height:23;border-radius: 50%;">
                                        <% }else{%>
                                            <img src="/images/userprofile.svg" style="width: 23px;height:23" alt="">
                                            <% } %>
                                </div>
                                <div class="table_datas ">
                                    <% let d = new Date(data.joinDate) %>
                                    <% let dayAr = ["Monday","Tuesday","Wednesday","Thersday","Friday","Satuarday","Sunday"] %>
                                    <% let monthAr=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]%>
                                    <%-d.getDate()%> <%- monthAr[d.getMonth()+1]%> <%-d.getFullYear()%> <%-dayAr[d.getDay()-1]%>
                                </div>
                                <div class="table_datas ">
                                    <%if(data.status){%>
                                        <div class="active">
                                            Active
                                        </div>
                                   <% }else{%>
                                    <div class="blocked">
                                        Blocked
                                    </div>
                                   <%}%>
                                </div>
                                <div class="table_datas ">
                                    <%if(data.status){%>
                                        <a href="/admin/userblock/<%- data._id %>"  title="Block User">
                                                <img src="/images/block.svg" style="width: 30px;height:30px" alt="">
                                        </a>
                                    <%}else{%>
                                        <a href="/admin/userunblock/<%- data._id %>" title="Ublock User">
                                            <img src="/images/unblock.svg" style="width: 30px;height:30px" alt="">
                                    </a>
                                   <% }%>
                                </div>
                            </div>
                            <% }) %>
                                <!-- <div class="table_content data_section">
                                    <div class="table_datas ">Aflu</div>
                                    <div class="table_datas ">Aflu@gmail.com</div>
                                    <div class="table_datas ">
                                        <img src="/images/userprofile.svg" style="width: 23px;height:23" alt="">
                                    </div>
                                    <div class="table_datas ">
                                        23/5/2023
                                    </div>
                                    <div class="table_datas ">
                                        <div class="blocked">
                                            Blocked
                                        </div>
                                    </div>
                                    <div class="table_datas ">
                                        <a href="">
                                            <img src="/images/unblock.svg" style="width: 30px;height:30px" alt="">
                                        </a>
                                    </div>
                                </div> -->
                    </div>
                    <div class="key_val" id="key-val">
                        <%usersData.forEach((data)=>{%>
                            <div class="detail">
                                <div class="data">
                                    <p>Name</p>
                                    <p><%-data.name%></p>
                                </div>
                                <div class="data">
                                    <p>Email</p>
                                    <p><%-data.email%></p>
                                </div>
                                <div class="data">
                                    <p>Join Date</p>
                                    <p>
                                        <% let d = new Date(data.joinDate) %>
                                        <% let dayArr = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %>
                                        <% let monthArr = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul","Aug","Sep","Oct","Nov","Dec"] %>
                                        <%- d.getDate() %> <%- monthArr[d.getMonth() + 1] %> <%- d.getFullYear() %> <%- dayArr[d.getDay()] %><%-d.getDay()%>
                                    </p>
                                </div>
                                <div class="data">
                                    <p>Status</p>
                                    <%if(data.status){%>
                                        <div class="status" id="blocked">
                                            <div class="btn_active">
                                                Actived
                                            </div>
                                            <a href="/admin/userblock/<%- data._id %>">
                                                <img src="/images/block.svg" style="width: 25px;height:25px" alt="">
                                            </a>
                                        </div>
                                    <%}else{%>
                                        <div class="status" id="blocked">
                                            <div class="btn_block">
                                                Blocked
                                            </div>
                                            <a href="/admin/userunblock/<%- data._id %>">
        
                                                <img src="/images/unblock.svg" style="width: 25px;height:25px" alt="">
                                            </a>
                                        </div>
                                    <%}%>
    
                                </div>
                            </div>
                       <% }) %>
                        <!-- <div class="detail">
                            <div class="data">
                                <p>Name</p>
                                <p>Aflu</p>
                            </div>
                            <div class="data">
                                <p>Email</p>
                                <p>Aflu@gmail.com</p>
                            </div>
                            <div class="data">
                                <p>Join Date</p>
                                <p>23/05/2023</p>
                            </div>
                            <div class="data">
                                <p>Status</p>
                                <div class="status" id="blocked">
                                    <div class="btn_block">
                                        Blocked
                                    </div>
                                    <a href="">

                                        <img src="/images/unblock.svg" style="width: 25px;height:25px" alt="">
                                    </a>
                                </div>

                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
    </div>
    <script>
        let filteruserBtn=document.querySelector("#filteruser");
        let filterPopup=document.querySelector('.filterArea')
        filteruserBtn.addEventListener("click",()=>{
            filterPopup.classList.toggle('active')
        })
        let sortedbyBtn=document.querySelector("#sortedby")
        let sortpopup=document.querySelector('.sorted')
        sortedbyBtn.addEventListener("click",()=>{
            
            sortpopup.classList.toggle("active")
        })
    </script>