<%-include('./adminPartials/header.ejs') %>
    <div class="home" style="display: flex;" style="min-height:100vh">
        <%-include('./adminPartials/sidebar.ejs')%>
            <div class="content_section">
                <div class="overview_section">
                    <div class="head_inp">
                        <h5>Orders</h5>
                        <a href="/admin/logout">Logout</a>
                    </div>
                </div>
                <div class="items_section" style="flex-direction: column;">
                    <div class="table" id="tb" style="width: 95%;">
                        <div class="top_section">
                            <p>Orders</p>
                            <div class="filter">
                                <a href="">Filtered by
                                    <img src="/images/filter.svg" alt="">
                                </a>
                                <a href="">Sorted by
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M14.6027 7.02075L10.1484 11.475C9.62236 12.0011 8.76156 12.0011 8.23552 11.475L3.78125 7.02075"
                                            stroke="#898989" stroke-width="1.02476" stroke-miterlimit="10"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="table_content">
                            <div class="table_datas head">ORDER ID</div>
                            <div class="table_datas head" style="width: 10%;">PRODUCT</div>
                            <div class="table_datas head">IMAGE</div>
                            <div class="table_datas head">USER ID</div>
                            <div class="table_datas head">STATUS</div>
                            <div class="table_datas head" style="width:15%">DATE</div>
                            <div class="table_datas head">DETAILS</div>
                            <!-- <div class="table_datas head"></div> -->
                        </div>
                        
                        <% orderDetail.forEach((order) => { %>
                            <% const product = order.products.productDetails; %>
                            <div class="table_content data_section">
                                <div class="table_datas ordertb">#<%- order._id %></div>
                                <div class="table_datas ordertb" style="width: 10%;">
                                    <% if (product) { %>
                                        <%- product.productName %>
                                    <% } %>
                                </div>
                                <div class="table_datas ordertb">
                                    <% if (product && product.image && product.image[0]) { %>
                                        <img src="/product-images/<%- product.image[0].mainimage %>" style="width: 33px; height: auto;" alt="">
                                    <% } %>
                                </div>
                                <div class="table_datas ordertb">
                                    #<%- '234fsd234' %>
                                </div>
                                <div class="table_datas ordertb">
                                    <%if(order.status=="Shipped"){%>
                                        <div class="active" style="width: 85px;background:rgba(153, 255, 19, 0.635)">
                                            <%- order.status %>
                                        </div>
                                    <%}else if(order.status=="Confirmed"){%>
                                        <div class="active" style="width: 85px;background:rgba(245, 216, 1, 0.635)">
                                            <%- order.status %>
                                        </div>
                                    <%}else if(order.status=="Delivered"){%>
                                        <div class="active" style="width: 85px;background:rgba(6, 245, 2, 0.636);">
                                            <%- order.status %>
                                        </div>
                                    <%}else if(order.status=="Pending"){%>
                                        <div class="active" style="width: 85px;background: rgba(255, 54, 8, 0.635);">
                                            <%- order.status %>
                                        </div>
                                    <%}else if(order.status=="Canceled"){%>
                                            <div class="active" style="width: 85px;background: rgba(223, 156, 12, 0.636);">
                                                <%- order.status %>
                                            </div>
                                     <%}%>
                                </div>
                                <div class="table_datas ordertb" style="width:15%">
                                    <%let date=new Date(order.delverydate)%>
                                    <%let days=["Sunday","Monday","Tuesday","Wednesday","Thersday","Friday","Satuarday"]%>
                                    <%-date.getDate()%>/<%-date.getMonth()%>/<%-date.getFullYear()%><br> <%-days[date.getDay()]%>
                                    
                                    
                                </div>
                                <div class="table_datas ordertb">
                                    <a href="/admin/products/orders/list-orders/orders-detail/<%-order._id%>/<%-order.userId%>/">
                                        <!-- <img src="/images/view.svg" alt=""> -->
                                        view detail
                                    </a>
                                </div>
                            </div>
                        <% }) %>    

                    </div>
                    <div class="key_val" id="key-val">
                 
                            <div class="detail">
                                <div class="data">
                                    <p>PRODUCT NAME</p>
                                    <p>bOAT headset</p>
                                </div>  
                                <div class="data">
                                    <p>PRICE</p>
                                    <p>1000₹</p>
                                </div>
                                <div class="data">
                                    <p>IMAGE</p>
                                    <div class="status" id="blocked">
                                        <div class="btn_active">
                                            In Stock
                                        </div>
                                        <a href="/">
                                            <img src="/images/boat.jpg" style="width: 35px;height:35px" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="data">
                                    <p>Status</p>
                                        <div class="status" id="blocked">
                                            <div class="btn_active">
                                                Actived
                                            </div>
                                            <a href="/">
                                                <img src="/images/block.svg" style="width: 25px;height:25px" alt="">
                                            </a>
                                        </div>
                                        <div class="status" id="blocked">
                                            <div class="btn_block">
                                                Blocked
                                            </div>
                                            <a href="">
        
                                                <img src="/images/unblock.svg" style="width: 25px;height:25px" alt="">
                                            </a>
                                        </div>
      
    
                                </div>
                            </div>
      
                        <!-- <div class="detail">
                            <div class="data">
                                <p>Name</p>
                                <p>Aflu</p>
                            </div>
                            <div class="data">
                                <p>Email</p>
                                <p>Aflu@gmail.com</p>
                            </div>
                            <div class="data">
                                <p>Join Date</p>
                                <p>23/05/2023</p>
                            </div>
                            <div class="data">
                                <p>Status</p>
                                <div class="status" id="blocked">
                                    <div class="btn_block">
                                        Blocked
                                    </div>
                                    <a href="">

                                        <img src="/images/unblock.svg" style="width: 25px;height:25px" alt="">
                                    </a>
                                </div>

                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
    </div>
