<%-include('./adminPartials/header.ejs') %>
    <div class="home" style="display: flex;" style="min-height:100vh">
        <%-include('./adminPartials/sidebar.ejs')%>
            <div class="content_section">
                <div class="overview_section">
                    <div class="head_inp">
                        <h5>Orders Detail</h5>
                        <a href="/admin/logout">Logout</a>
                    </div>
                </div>
                <div class="items_section" style="flex-direction: column;align-items: end;justify-content: start;">
                    <div class="summary_detail" style="width: 82%;">
                        <div class="sm_customer">
                            <div class="items_summary">
                                <div class="head_row">
                                    <div class="content hd">
                                        Item Summary
                                    </div>
                                    <div class="content hd">Qty</div>
                                    <div class="content hd">Price</div>
                                    <div class="content hd">Total</div>
                                </div>
                                <%orderDetail.forEach((value)=>{%>
                                    <% const product = value.products.productDetails; %>
                                    <div class="head_row">
                                        <div class="content " style="padding-left: 5px;">
                                            <img src="/product-images/<%-product.image[0].mainimage%>" style="width: 33px;height: auto;" alt="">
                                            <span style="margin-left: 10px;"><%-product.productName%></span>
                                        </div>
                                        <div class="content"><%-value.products.qty%></div>
                                        <div class="content">
                                            <%if(product.discount){%>
                                                ₹<%-product.discount%>
                                                <% }else{%>
                                                    ₹<%-product.price%>
                                           <%}%>
                                        </div>
                                        <div class="content">
                                            <%if(product.discount){%>
                                                ₹<%-product.discount*value.products.qty%>
                                                <% }else{%>
                                                    ₹<%-product.price*value.products.qty%>
                                           <%}%>
                                        </div>
                                    </div>
                                <%})%>
                            </div>
                            <div class="items_summary">
                                <div class="header">
                                    Customer and Order Details
                                </div>
                                <%const addrs=orderDetail[0].address%>
                                <%for(key in addrs){%>
                                    <div class="header cont">
                                        <span><%-key%></span>
                                        <span><%-addrs[key]%></span>
                                    </div>
                               <% }%>
                            </div>
                        </div>
                        <div class="nums">
                            <div class="order_summary">
                                <div class="order_center">
                                    <form class="order_hd" method="post" action="/admin/products/orders/list-orders/orders/changin-status/<%-orderDetail[0]._id%>/<%-orderDetail[0].userId%>">
                                        <span>Order Summary</span>
                                            <%if(orderDetail[0].status=="Pending"){%>
                                                <select name="status" id="" onchange="this.form.submit()">
                                                    <%let status=["Confirmed","Shipped","Delivered","Canceled"]%>
                                                    <option value="<%-orderDetail[0].status %>" selected><%-orderDetail[0].status %></option>
                                                    <%status.forEach((status)=>{%>
                                                        <%if(status!=orderDetail[0].status){%>
                                                            <option value="<%-status %>"><%-status %></option>
                                                        <%}%>
                                                   <% })%>
                                                    <!-- <option value="Canceled">shipped</option> -->
                                                </select>
                                                <%}else if(orderDetail[0].status=="Confirmed"){%>
                                                    <select name="status" id="" onchange="this.form.submit()">
                                                        <%let status=["Shipped","Delivered","Canceled"]%>
                                                        <option value="<%-orderDetail[0].status %>" selected><%-orderDetail[0].status %></option>
                                                        <%status.forEach((status)=>{%>
                                                            <%if(status!=orderDetail[0].status){%>
                                                                <option value="<%-status %>"><%-status %></option>
                                                            <%}%>
                                                       <% })%>
                                                        <!-- <option value="Canceled">shipped</option> -->
                                                    </select>
                                                    <%}else if(orderDetail[0].status=="Shipped"){%>
                                                        <select name="status" id="" onchange="this.form.submit()">
                                                            <%let status=["Delivered","Canceled"]%>
                                                            <option value="<%-orderDetail[0].status %>" selected><%-orderDetail[0].status %></option>
                                                            <%status.forEach((status)=>{%>
                                                                <%if(status!=orderDetail[0].status){%>
                                                                    <option value="<%-status %>"><%-status %></option>
                                                                <%}%>
                                                           <% })%>
                                                            <!-- <option value="Canceled">shipped</option> -->
                                                        </select>
                                                        
                                                        <%}else if(orderDetail[0].status=="Delivered"){%>
                                                            <span>
                                                                Delivered
                                                            </span>
                                                            <%}else if(orderDetail[0].status=="Canceled"){%>
                                                                <span>
                                                                    Canceled
                                                                </span>
                                            <%}%>
                                        
                                    </form>
                                    <div class="order_hd">
                                        <span>Order Created</span>
                                        
                                            <span>
                                                <%let date=new Date(orderDetail[0].delverydate)%>
                                                <% let monthAr=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]%>
                                                <%let days=["Sunday","Monday","Tuesday","Wednesday","Thersday","Friday","Satuarday"]%>
                                                <%-date.getDate()%> <%-monthAr[date.getMonth()]%> <%-date.getFullYear()%> <%-days[date.getDay()]%>
                                            </span>
                                        
                                    </div>
                                    <div class="order_hd">
                                        <span>Sub Total</span>
                                        
                                            <span>₹<%-totalAmount%></span>
                                        
                                    </div>
                                    <div class="order_hd">
                                        <span>Payment mode</span>
                                        
                                            <span><%-orderDetail[0].paymentmode%></span>
                                        
                                    </div>
                                    <div class="order_hd">
                                        <span>Shipping</span>
                                        
                                            <span>Free</span>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="total">
                                <span>

                                    Total
                                </span><span>
                                    ₹<%-totalAmount%>

                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </div>
    <%-include('./adminPartials/footer.ejs')%>