<%-include('./adminPartials/header.ejs') %>
    <div class="home" style="display: flex;" style="min-height:100vh">
        <%-include('./adminPartials/sidebar.ejs')%>
            <div class="content_section">
                <div class="overview_section">
                    <div class="head_inp">
                        <h5>Products</h5>
                        <a href="/admin/logout">Logout</a>
                    </div>
                </div>
                <div class="items_section" style="flex-direction: column;">
                    <div class="admin_top_control">
                        <a  id="mySizeChart">Add Product</a>
                    </div>
                    <div class="add_product_section" id="adp" style="transform: translateY(0);">
                        <a href="/admin/products">
                            <img src="/images/close.png" style="width:20px;height: 20px;position:absolute;top:5%;right:2%;cursor:pointer" alt="" id="clsbtn">
                        </a>
                        <form action="/admin/products/edit-products/<%-productData._id%>" method="post" class="form_section" enctype="multipart/form-data">
                            <div class="images">
                                <div class="preview_imgs">
                                    <div class="secondary">
                                        <input type="file" name="image1" id="imag1" accept="image/*"  onchange="previewImage('imag1', 'im1','1l')">
                                        <label for="imag1">
                                            <p id="1l" style="display: none;">
                                                Upload Preview image 1
                                            </p>
                                            <img src="/product-images/<%-productData.image[0].image1%>" alt="" id="im1">
                                        </label>
                                        <input type="file" name="image2" id="imag2" accept="image/*"  onchange="previewImage('imag2', 'im2','l2')" >
                                        <label for="imag2">
                                            <p id="l2" style="display: none;">
                                                Upload Preview image 2
                                            </p>
                                            <img src="/product-images/<%-productData.image[0].image2%>" alt="" id="im2">
                                        </label>
                                        <input type="file" name="image3" id="imag3" accept="image/*"  onchange="previewImage('imag3', 'im3','l3')">
                                        <label for="imag3">
                                            <p id="l3" style="display: none;">
                                                Upload Preview image 3
                                            </p>
                                            <img src="/product-images/<%-productData.image[0].image3%>" alt="" id="im3">
                                        </label>
                                        <input type="file" name="image4" id="imag4" accept="image/*"  onchange="previewImage('imag4', 'im4','l4')">
                                        <label for="imag4">
                                            <p id="l4" style="display: none;">
                                                Upload Preview image 4
                                            </p>
                                            <img src="/product-images/<%-productData.image[0].image4%>" alt="" id="im4">
                                        </label>
                                    </div>
                                    <div class="main">
                                        <input type="file" name="main" id="main" accept="image/*"  onchange="previewImage('main', 'mn','ml')" >
                                        <label for="main">
                                            <p id="ml" style="display: none;">
                                                Main image
                                            </p>
                                            <img src="/product-images/<%-productData.image[0].mainimage%>" alt="" id="mn">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="inputs">
                                <div class="all_inp">
                                    <div class="head">
                                        <h4>Update product</h4>
                                    </div>
                                    <div class="control_section">
                                        <p for="">product name</p>
                                        <input type="text"  name="productname" value="<%-productData.productName%>" required>
                                    </div>
                                    <div class="control_section " id="sp">
                                        <div class="p">

                                            <p for="">Price</p>
                                            <input type="number" name="price" value="<%-productData.price%>" required>
                                        </div>
                                        <div class="dsp">

                                            <p for="">Discountedprice</p>
                                            <input type="number" name="discount" value="<%-productData.discount%>">
                                        </div>
                                    </div>
                                    <div class="control_section " id="sp">
                                        <div class="p">

                                            <p for="">Brand</p>
                                            <input type="text" name="brand" required value="<%-productData.brand%>">
                                        </div>
                                        <div class="dsp">

                                            <p for="">Category</p>
                                            <select name="category" id="">
                                                        <option value="<%-currentProuductCategory.categoryname%>" selected><%-currentProuductCategory.categoryname%></option>
                                                        <%categories.forEach((category)=>{%>
                                                            <%if(currentProuductCategory.categoryname !=category.categoryname){%>
                                                                <option value="<%-category.categoryname%>"><%-category.categoryname%></option>
                                                           <% }%>
                                                       <% })%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control_section " id="sp">
                                        <div class="p" id="spc">
                                            <p for="" style="position: absolute;top:0;left:0">Specifications</p>
                                            <input type="text" name="spec1" value="<%-productData.specification[0].spec1%>">
                                            <input type="text" name="spec2" value="<%-productData.specification[0].spec2%>">
                                            <input type="text" name="spec3" value="<%-productData.specification[0].spec3%>" placeholder="optional">
                                            <input type="text" name="spec4" value="<%-productData.specification[0].spec4%>" placeholder="optional">
                                        </div>
                        
                                    </div>
                                    <div class="control_section">
                                        <p for="">Description</p>
                                        <textarea name="description" id="" required><%-productData.description%></textarea>
                                    </div>
                                    <div class="control_section end">
                                        <button type="submit">submit</button>
                                        <button type="reset">cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="table" id="tb">
                        <div class="top_section">
                            <p>Products</p>
                            <div class="filter">
                                <a href="">Filtered by
                                    <img src="/images/filter.svg" alt="">
                                </a>
                                <a href="">Sorted by
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M14.6027 7.02075L10.1484 11.475C9.62236 12.0011 8.76156 12.0011 8.23552 11.475L3.78125 7.02075"
                                            stroke="#898989" stroke-width="1.02476" stroke-miterlimit="10"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="table_content">
                            <div class="table_datas head">PRODUCT NAME</div>
                            <div class="table_datas head" style="width: 10%;">PRICE</div>
                            <div class="table_datas head">IMAGE</div>
                            <div class="table_datas head">CATEGORY</div>
                            <div class="table_datas head">Status</div>
                            <div class="table_datas head"></div>
                            <!-- <div class="table_datas head"></div> -->
                        </div>
                            <div class="table_content data_section">
                                <div class="table_datas "><%-productData.productName%></div>
                                <div class="table_datas " style="width: 10%;"><%-productData.price%></div>
                                <div class="table_datas ">
                               
                                        <!-- <img src="" style="width: 23px;height:23;border-radius: 50%;"> -->
                

                                            <img src="/product-images/<%-productData.image[0].mainimage%>" style="width: 33px;height:33" alt="">
                                </div>
                                <div class="table_datas ">
                                   <%-productData.category%>
                                </div>
                                <div class="table_datas ">
                                    <%if(productData.currentStatus){%>
                                        <div class="active" style="width: 70px;">
                                            In Stock
                                        </div>
                                  <%  }else{%>
                                    <div class="blocked" style="width: 70px;">
                                        expired
                                    </div>
                                   <% }%>
                                </div>
                                <div class="table_datas ">
                                    <a href="/admin/products/edit-product/<%productData._id%>" style="text-decoration: none;">

                                        <img src="/images/predit.svg" style="width: 30px;height: 30px;margin-right:10px" alt="">
                                    </a>
                                        <img src="/images/delp.svg" style="width: 30px;height: 30px;" alt="">
                                </div>
                                
                            </div>
                                <!-- <div class="table_content data_section">
                                    <div class="table_datas ">Aflu</div>
                                    <div class="table_datas ">Aflu@gmail.com</div>
                                    <div class="table_datas ">
                                        <img src="/images/userprofile.svg" style="width: 23px;height:23" alt="">
                                    </div>
                                    <div class="table_datas ">
                                        23/5/2023
                                    </div>
                                    <div class="table_datas ">
                                        <div class="blocked">
                                            Blocked
                                        </div>
                                    </div>
                                    <div class="table_datas ">
                                        <a href="">
                                            <img src="/images/unblock.svg" style="width: 30px;height:30px" alt="">
                                        </a>
                                    </div>
                                </div> -->
                    </div>
                    <div class="key_val" id="key-val">
                 
                            <div class="detail">
                                <div class="data">
                                    <p>PRODUCT NAME</p>
                                    <p>bOAT headset</p>
                                </div>  
                                <div class="data">
                                    <p>PRICE</p>
                                    <p>1000₹</p>
                                </div>
                                <div class="data">
                                    <p>IMAGE</p>
                                    <div class="status" id="blocked">
                                        <div class="btn_active">
                                            In Stock
                                        </div>
                                        <a href="/">
                                            <img src="/images/boat.jpg" style="width: 35px;height:35px" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="data">
                                    <p>Status</p>
                                        <div class="status" id="blocked">
                                            <div class="btn_active">
                                                Actived
                                            </div>
                                            <a href="/">
                                                <img src="/images/block.svg" style="width: 25px;height:25px" alt="">
                                            </a>
                                        </div>
                                        <div class="status" id="blocked">
                                            <div class="btn_block">
                                                Blocked
                                            </div>
                                            <a href="">
        
                                                <img src="/images/unblock.svg" style="width: 25px;height:25px" alt="">
                                            </a>
                                        </div>
      
    
                                </div>
                            </div>
      
                        <!-- <div class="detail">
                            <div class="data">
                                <p>Name</p>
                                <p>Aflu</p>
                            </div>
                            <div class="data">
                                <p>Email</p>
                                <p>Aflu@gmail.com</p>
                            </div>
                            <div class="data">
                                <p>Join Date</p>
                                <p>23/05/2023</p>
                            </div>
                            <div class="data">
                                <p>Status</p>
                                <div class="status" id="blocked">
                                    <div class="btn_block">
                                        Blocked
                                    </div>
                                    <a href="">

                                        <img src="/images/unblock.svg" style="width: 25px;height:25px" alt="">
                                    </a>
                                </div>

                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
    </div>
    <script>
        function previewImage(inputId, imgId,label) {
            const input = document.getElementById(inputId);
            const img = document.getElementById(imgId);
            const labeltext=document.getElementById(label)
            // Check if a file was selected
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                
                // Set up a function to run when the image is loaded
                reader.onload = function (e) {
                    img.src = e.target.result;
                    labeltext.style.display='none'
                };
                
                // Read the selected file as a data URL and load it into the img tag
                reader.readAsDataURL(input.files[0]);
            } else {
                // If no file was selected or the browser doesn't support FileReader, clear the image
                img.src = "";
            }
        }
    </script>