<%-include('../partials/header.ejs') %>
<div class="home" style="display: flex;align-items: center;justify-content: center;min-height: 100vh;" id="accPg">
    <%-include('../partials/profiletoggle.ejs')%>
    <div class="coupon_see">
        <div class="alls">
            <img src="/images/ribbon.png" alt="">
            <div class="cls">
                <img src="/images/close.png" alt="" onclick="cuponClose()">
            </div>
            <%coupons.forEach((data)=>{%>
                <%if(data.status=='active'){%>
                    <div class="coupon_bx">
                        
                        <div class="discount">
                            <span class="sv">Save</span>
                            <span class="amt"><%-data.discount%>%</span>
                        </div>
                        <div class="detail">
                            <span class="pr">On minimum purchase of <span class="prc">Rs.<%-data.minOrderAmt%></span> </span>
                            <span class="pr">Code <span class="prc"> <%-data.couponcode%></span> </span>
                        </div>
                        <div class="expr">
                            <span class="pr">Expiry <span class="prc">
                                <% let monthAr=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]%>
                                <%let date=new Date(data.statusChangeDate)%>
                                 <%-monthAr[date.getMonth()]%> <%-date.getDate()%> <%-date.getFullYear()%>
                                </span> </span>
                            <!-- <span class="pr">Code <span class="prc">DLS899</span> </span> -->
                        </div>
                    </div>

               <% }%>
            <%})%>
           
        </div>
    </div>
    <div class="referal_share">
        <div class="sharing_box">
            <img src="/images/cls.svg" class="cls" alt="" onclick="inviteBoxClose()">
            <span class="copymessage" id="copymsg">copied to clipboard</span>
            <div class="link_cpy">
                <div class="link">
                    <span>http://localhost:5001/signup?id=<%-id%></span>
                </div>
                <div class="cpy" onclick="copyLink('http://localhost:5001/signup?id=<%-id%>')">
                    <img src="/images/copy.svg" style="width: 18px;height: 18px;" alt="" id="changeCopyImage">
                    <!-- <img src="/images/copytick.svg" style="width: 20px;height: 20px;" alt=""> -->
                </div>
            </div>
            <!-- <div class="social_shares">
                <img src="/images/wh.svg" style="width: 25px;height: 25px;cursor: pointer;" alt="" onclick="shareOnWhatsapp('<%-id%>')">
                <img src="/images/in.svg" style="width: 25px;height: 25px;cursor: pointer;" alt="">
                <img src="/images/li.svg" style="width: 25px;height: 25px;cursor: pointer;" alt="">
                <img src="/images/tw.svg" style="width: 25px;height: 25px;cursor: pointer;" alt="">
            </div> -->
        </div>
    </div>
    <!-- <div class="acc">
        <div class="brudcump">
            <span>Home&nbsp&nbsp /&nbsp&nbsp My Account</span>
            <div>
                <span>Welcome! </span><span style="color: #db4444;"> Md Rimel</span>
            </div>
        </div>
        <div class="profile">
            <div class="side">
                <div class="side_content">
                    <p>Manage My Account</p>
                    <div class="lnk">
                        <a href="">My Profile</a>
                        <a href="">Address Book</a>
                        <a href=""></a>
                    </div>
                </div>
                <div class="side_content">
                    <p>Manage Orders</p>
                    <div class="lnk">
                        <a href="">My Profile</a>
                        <a href="">Address Book</a>
                        <a href=""></a>
                    </div>
                </div>
                <div class="side_content">
                    <p>Manage WhishList</p>
                    <div class="lnk">
                        <a href="">My Returbs</a>
                        <a href="">My Cancelation</a>
                        <a href=""></a>
                    </div>
                </div>
            </div>
            <div class="edit">
                <div class="allcontrol">
                    <div class="head">
                        <h4>Edit Your Profile</h4>
                    </div>
                    <div class="controll">
                        <div class="profile">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> -->
    <!-- <a href="/user/accounts/logout">Logout</a> -->
    <div class="profile_card">
        <div class="side_section">
            <div class="profile_with_img">
                <div class="img-s">
                    <%if(userData && userData.profileImage){%>
                        <img src="<%-userData.profileImage%>" alt="">
                    <%}else{%>
                        <img src="/images/profile.jpg" alt="">
                    <%}%>
                </div>
                <div class="oth">
                    <div class="user_">
                        <%-userData.name%>
                    </div>
                    <div class="user_">
                        <%-userData.email%>
                    </div>
                </div>
            </div>
            <a href="" class="profile_with_img other" style="background: #f5f5f5;height: 50px;margin-top: 5px;color:black;text-decoration: none;">
                <div class="img-s">
                    <!-- <img src="/images/newwallet.svg" style="height: 30px;width: 30px;" alt=""> -->
                    <img src="/images/blwallet.svg" style="height: 30px;width: 30px;" alt="">
                </div>
                <div>
                    <!-- <img src="/images/coin_2.svg" style="height: 15px;width: 15px;" alt=""> -->
                    <%-totalAmt%> ₹ 
                </div>
                <!-- <img src="/images/starsm.svg" style="width: 10px;height: 10px;" alt=""> -->
            </a>
            <a  class="profile_with_img" style="background: #f5f5f5;height: 50px;margin-top: 5px;color:black;text-decoration: none;" onclick="openCoupon()">
                <div class="img-s">
                    <!-- <img src="/images/newwallet.svg" style="height: 30px;width: 30px;" alt=""> -->
                    <img src="/images/voucher.svg" style="height: 30px;width: 30px;" alt="">
                </div>
                <div>
                    <!-- <img src="/images/coin_2.svg" style="height: 15px;width: 15px;" alt=""> -->
                    See All Coupons
                </div>
                <!-- <img src="/images/starsm.svg" style="width: 10px;height: 10px;" alt=""> -->
            </a>
            <a  class="profile_with_img" style="background: #f5f5f5;height: 50px;margin-top: 5px;color:black;text-decoration: none;cursor: pointer;" onclick="openSharing()">
                <div class="img-s">
                    <!-- <img src="/images/newwallet.svg" style="height: 30px;width: 30px;" alt=""> -->
                    <img src="/images/invite.svg" style="height: 30px;width: 30px;" alt="">
                </div>
                <div>
                    <!-- <img src="/images/coin_2.svg" style="height: 15px;width: 15px;" alt=""> -->
                    Referal link
                </div>
                <!-- <img src="/images/starsm.svg" style="width: 10px;height: 10px;" alt=""> -->
            </a>
            <div class="navigations">
                <div class="acc_manage">
                    <p>Manage My Orders</p>
                    <div class="links">
                        <a href="">My Orders</a>
                        <a href="">My Cancelation</a>
                        <a href="">My Return</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_s">
            <div class="profile_card">
                <div class="basic_info">
                    <h4>Profile</h4>
                    <a href="/users/account/updateprofile/<%-id%>">Update</a>
                </div>
                <div class="datas">
                    <div class="contrl">
                        <p>Username</p>
                        <div class="mail"><%-userData.name%></div>
                    </div>
                    <div class="contrl">
                        <p>Email</p>
                        <div class="mail"><%-userData.email%></div>
                    </div>
                </div>
                <div class="shippingAddresses">
                    <div class="head">
                        <h2>shipping address</h2>
                        <%if(addressData){%>
                            <a href="/users/account/addAddress/<%-id%>">Add Address</a>
                       <% }%>
                    </div>
                    <%if(!addressData || addressData.addresses.length<=0){%>
                          <div class="ship_section" style="display: flex;align-items: center;justify-content: center;">
                            <h2>Address not Added</h2>
                            <a href="/users/account/addAddress/<%-id%>" style="background-color: #db4444;padding: 5px 10px;color:#ffff;font-size: 12px;border-radius: 4px;text-decoration: none;">Add Address</a>
                          </div>
                    <%}else{%>
                   
                    <%addressData.addresses.forEach((data)=>{%>
                        <div class="ship_section">
                            <div class="ico">
                                <a href="/users/account/editAddress/<%-id%>/<%-data._id%>">
                                    <img src="/images/editsv.svg" style="width: 20px ;height:20px"  alt="">
                                </a>
                                <a href="/users/account/deleteAddress/<%-id%>/<%-data._id%>">
                                    <img src="/images/bin.svg" style="width: 20px ;height:20px" alt="">
                                </a>
                            </div>
                            <div class="ctrls">
                                <div class="eaches">
                                    <p>name</p>
                                    <div class="cont">
                                        <%-data.name%>
                                    </div>
                                </div>
                                <div class="eaches">
                                    <p>state</p>
                                    <div class="cont">
                                        <%-data.state%>
                                    </div>
                                </div>
                            </div>
                            <div class="ctrls">
                                <div class="eaches">
                                    <p>district</p>
                                    <div class="cont">
                                        <%-data.district%>
                                    </div>
                                </div>
                                <div class="eaches">
                                    <p>pin</p>
                                    <div class="cont">
                                        <%-data.pincode%>
                                    </div>
                                </div>
                            </div>
                            <div class="ctrls">
                                <div class="eaches">
                                    <p>street</p>
                                    <div class="cont">
                                        <%-data.street%>
                                    </div>
                                </div>
                                <div class="eaches">
                                    <p>phone</p>
                                    <div class="cont">
                                        <%=data.phone%>
                                    </div>
                                </div>
                            </div>
                            <div class="ctrls">
                                <div class="eaches">
                                    <p>Apartemnt</p>
                                    <div class="cont">
                                        <%-data.apartmentOrBuilding%>
                                    </div>
                                </div>
                                <div class="eaches">
                                    <p>email</p>
                                    <div class="cont">
                                        <%-data.email%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%})%>
                    <% }%>
                </div>
            </div>
        </div>
    </div>

</div>
<%-include('../partials/footer.ejs') %>