<%-include('../partials/header.ejs') %>
    <div class="signup" id="forplace">
        <%-include('../partials/profiletoggle.ejs')%>
        <div class="checkout forplace">
            <div class="heading" style="display: flex;align-items: center;gap:10px;">
                <h1>Address </h1>
                <button style="margin: 0;padding: 0;font-size: 12px;min-width: 150px;height: 30px;" onclick="showCurrentLocation()">Use current location 📍</button>
            </div>
            <form class="checkandAddress"  id="checkoutform1" onsubmit="checkoutWithAddress(event,'<%-id%>')">
                <div class="checkoutform">
                    <div class="controller">
                        <label for="name">name</label>
                        <input required type="text" name="name" id="name">
                    </div>
                    <div class="controller">
                        <label for="email">email</label>
                        <input required type="email" name="email" id="email">
                    </div>
                    <div class="controller">
                        <label for="state">state</label>
                        <input required type="text" name="state" id="state">
                    </div>
                    <div class="controller">
                        <label for="district">district</label>
                        <input required type="text" name="district" id="district">
                    </div>
                    <div class="controller">
                        <label for="pincode">pincode</label>
                        <input required type="text" name="pincode" id="pincode">
                    </div>
                    <div class="controller">
                        <label for="street">street</label>
                        <input required type="text" name="street" id="street">
                    </div>
                    <div class="controller">
                        <label for="phone">phone</label>
                        <input required type="text" name="phone"  id="phone">
                    </div>
                    <div class="controller">
                        <label for="apar">Apartment, floor, etc. (optional)</label>
                        <input required type="text" name="apartment" id="apar">
                    </div>
                </div>
                <div class="checkoutbox">
                    <div class="item_box">
                        <%userCartdata.forEach((data)=>{%>
                            <div class="priceandimg">
                                <div class="img" qty="<%-data.products.qty%>">
                                    <img src="/product-images/<%-data.cartData.image[0].mainimage%>" width="40px" height="auto" alt="">
                                </div>
                                <div class="name"><%-data.cartData.productName%></div>
                                <div class="price">₹
                                    <%if(data.cartData.discount){%>
                                        <%-data.cartData.discount*data.products.qty%>
                                        <%}else{%>
                                            <%-data.cartData.price*data.products.qty%>
                                    <%}%>
                                </div>
                            </div>
                      <%  })%>
                        <div class="priceandimg sub">
                            <div class="name" >Subtotal  </div>
                            <div class="price">₹<%-totalAmount%></div>
                        </div>
                        <div class="priceandimg sub">
                            <div class="name" >Shipping  </div>
                            <div class="price">Free</div>
                        </div>
                        <div class="priceandimg sub total">
                            <div class="name" >Total  </div>
                            <div class="price">₹<%-totalAmount%></div>
                        </div>
                        <div class="priceandimg select button">
                            <button type="submit">Go to Purchase</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>    
      <script>
        function showCurrentLocation(){
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                  function(position) {
                    const latitude = position.coords.latitude;
                    const longitude = position.coords.longitude;
              
                    // Use a reverse geocoding service to get location details based on coordinates
                    const apiEndpoint = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${latitude}&lon=${longitude}`;
              
                    // Make a request to the reverse geocoding API
                    fetch(apiEndpoint)
                      .then(response => response.json())
                      .then(data => {
                        // Access the place name and state information from the response
                        const placeName = data.display_name;
                        const state = data.address.state;
                        const district = data.address.state_district.split(" ")[0]
                        const country=data.address.country
                        const postcode = data.address.postcode;
                        localStorage.setItem(`user_place`,placeName)
                        localStorage.setItem(`user_state`,state)
                        localStorage.setItem('user_district',district)
                        localStorage.setItem('user_country',country)
                        if(placeName){
                            document.getElementById("street").value=placeName;
                        }
                        if(state){
                            document.getElementById("state").value=state
                        }
                        if(district){
                            document.getElementById("district").value=district
                        }
                        if(postcode){
                            document.getElementById("pincode").value=postcode
                        }
                        console.log(`Place Name: ${placeName}, State: ${state}`);
                      })
                      .catch(error => {
                        console.error('Error getting location details:', error);
                      });
                  },
                  // Error callback
                  function(error) {
                    console.error(`Error getting location: ${error.message}`);
                  }
                );
              } else {
                console.error('Geolocation is not supported by this browser.');
              }
        }
      </script>
    <%-include('../partials/footer.ejs') %>

