<%-include('../partials/header.ejs') %>
    <div class="signup" id="forplace">
        <%-include('../partials/profiletoggle.ejs')%>
        <div class="checkout forplace">
            <div class="heading">
                <h1>Billing Details</h1>
            </div>
            <form class="checkandAddress"  id="checkoutform1" onsubmit="checkoutWithAddress(event,'<%-id%>')">
                <div class="checkoutform">
                    <div class="controller">
                        <label for="name">name</label>
                        <input required type="text" name="name" id="name">
                    </div>
                    <div class="controller">
                        <label for="email">email</label>
                        <input required type="email" name="email" id="email">
                    </div>
                    <div class="controller">
                        <label for="state">state</label>
                        <input required type="text" name="state" id="state">
                    </div>
                    <div class="controller">
                        <label for="district">district</label>
                        <input required type="text" name="district" id="district">
                    </div>
                    <div class="controller">
                        <label for="pincode">pincode</label>
                        <input required type="text" name="pincode" id="pincode">
                    </div>
                    <div class="controller">
                        <label for="street">street</label>
                        <input required type="text" name="street" id="street">
                    </div>
                    <div class="controller">
                        <label for="phone">phone</label>
                        <input required type="text" name="phone"  id="phone">
                    </div>
                    <div class="controller">
                        <label for="apar">Apartment, floor, etc. (optional)</label>
                        <input required type="text" name="apartment" id="apar">
                    </div>
                </div>
                <div class="checkoutbox">
                    <div class="item_box">
                        <%userCartdata.forEach((data)=>{%>
                            <div class="priceandimg">
                                <div class="img" qty="<%-data.products.qty%>">
                                    <img src="/product-images/<%-data.cartData.image[0].mainimage%>" width="40px" height="auto" alt="">
                                </div>
                                <div class="name"><%-data.cartData.productName%></div>
                                <div class="price">₹
                                    <%if(data.cartData.discount){%>
                                        <%-data.cartData.discount*data.products.qty%>
                                        <%}else{%>
                                            <%-data.cartData.price*data.products.qty%>
                                    <%}%>
                                </div>
                            </div>
                      <%  })%>
                        <div class="priceandimg sub">
                            <div class="name" >Subtotal  </div>
                            <div class="price">₹<%-totalAmount%></div>
                        </div>
                        <div class="priceandimg sub">
                            <div class="name" >Shipping  </div>
                            <div class="price">Free</div>
                        </div>
                        <div class="priceandimg sub total">
                            <div class="name" >Total  </div>
                            <div class="price">₹<%-totalAmount%></div>
                        </div>
                        <div class="priceandimg select button">
                            <button type="submit">Go to Purchase</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>    
    <script>
          //function razorpayPayment(order,userId){
          //  
          //  let options={
          //      key:'rzp_test_4DklPLkGmokBbK',
          //      amount:order.amount,
          //      currency:'INR',
          //      order_id:order.order_id,
          //      handler:(response)=>{
          //          console.log(response)
          //          if(response.razorpay_payment_id){
          //              window.location.href=`http://localhost:5001/users/product/checkout/payment/success/${userId}`
          //          }
          //      }
          //  } 
          //  const rzp=new Razorpay(options);
          //  rzp.open()
          //}
      </script>
      
    <%-include('../partials/footer.ejs') %>

