<%-include('../partials/header.ejs') %>
<div class="home" style="min-height: 100vh;">
  <style>
    .spinner-box {
      width: 300px;
      height: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .leo {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
    .blue-orbit {
      width: 165px;
      height: 165px;
      border: 1px solid #91daffa5;
      -webkit-animation: spin3D 3s linear .2s infinite;
    }
    .green-orbit {
      width: 120px;
      height: 120px;
      border: 1px solid #91ffbfa5;
      -webkit-animation: spin3D 2s linear 0s infinite;
    }
    
.red-orbit {
	width: 90px;
	height: 90px;
  border: 1px solid #ffca91a5;
  -webkit-animation: spin3D 1s linear 0s infinite;
}

.white-orbit {
	width: 60px;
	height: 60px;
  border: 2px solid #ffffff;
  -webkit-animation: spin3D 10s linear 0s infinite;
}

.w1 {
  transform: rotate3D(1, 1, 1, 90deg);
}

.w2 {
  transform: rotate3D(1, 2, .5, 90deg);
}

.w3 {
  transform: rotate3D(.5, 1, 2, 90deg);
}
@keyframes spin3D {
  from {
    transform: rotate3d(.5,.5,.5, 360deg);
  }
  to{
    transform: rotate3d(0deg);
  }
}
    
  </style>
    <%-include('../partials/profiletoggle.ejs')%>
    <div class="cart_secttion">
      <div class="load" id="load">
        <div class="load_box">
          <div class="spinner-box">
            <div class="blue-orbit leo">
            </div>
          
            <div class="green-orbit leo">
            </div>
            
            <div class="red-orbit leo">
            </div>
            
            <div class="white-orbit w1 leo">
            </div><div class="white-orbit w2 leo">
            </div><div class="white-orbit w3 leo">
            </div>
          </div>
        </div>
      </div>
        <div class="brudCrump">
            <span>Home</span><span>/</span><span>Cart</span>
        </div>
        <%if(empty){%>
            <div class="table" id="carTable">
                <div class="row">
                    <div class="cols product">products</div>
                    <div class="cols price">Price</div>
                    <div class="cols qty">Quantity</div>
                    <div class="cols price">Subtotal</div>
                </div>
                <%userCartdata.forEach((cartdata,index)=>{%>
                    <div class="row" id="deleterow<%-index%>">
                        <div class="cols product">
                            <img src="/product-images/<%-cartdata.cartData.image[0].mainimage%>"  alt="">
                            <span style="margin-left: 20px;"><%-cartdata.cartData.productName%></span>
                        </div>
                        <div class="cols price">
                            <%if(cartdata.cartData && cartdata.cartData.offer && cartdata.cartData.offer.offerprice){%>
                              ₹
                              <span id="priceshow<%-index%>">
                                <%-cartdata.cartData.price-(cartdata.cartData.price*cartdata.cartData.offer.offerprice)/100%>
                              </span>
                            <%}else if(cartdata.cartData && cartdata.cartData.discount){%>
                              ₹
                              <span id="priceshow<%-index%>">
                                <%-cartdata.cartData.discount%>
                              </span>
                                <%}else{%>
                                  ₹
                                  <span id="priceshow<%-index%>">
                                    <%-cartdata.cartData.price%>
                                  </span>
                             <%}%>
                        </div>
                        <div class="cols qty">
                            <div class="qty_button">
                                <div class="text" id="qtyShow<%-index%>">
                                    <% if (cartdata.products && cartdata.products.qty) { %>
                                        <% if (cartdata.products.qty < 10) { %>
                                          0<%- cartdata.products.qty %>
                                        <% } else { %>
                                          <%- cartdata.products.qty %>
                                        <% } %>
                                      <% } %>
                                </div>
                                <div class="nav">
                                    <% if (cartdata.cartData.stock > cartdata.products.qty) { %>
                                      <a onclick="increaseCartQty('changebtnInc<%-index%>', '<%-id%>', '<%-cartdata.products.productId%>', 1, '<%-cartdata.cartData%>', 'subtotal<%-index%>', 'qtyShow<%-index%>','decrease<%-index%>','priceshow<%-index%>','<%-cartdata.cartData.stock%>')" id="changebtnInc<%-index%>"> <!-- Updated the ID -->
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M7.75732 7.36666L4.45732 10.6667L3.51465 9.72399L7.75732 5.48132L12 9.72399L11.0573 10.6667L7.75732 7.36666Z" fill="black"/>
                                        </svg> 
                                      </a>
                                    <% } else { %>
                                      <a style="visibility: hidden;" >
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M7.75732 7.36666L4.45732 10.6667L3.51465 9.72399L7.75732 5.48132L12 9.72399L11.0573 10.6667L7.75732 7.36666Z" fill="black"/>
                                        </svg> 
                                      </a>
                                    <% } %>
                                    <% if (cartdata.products && cartdata.products.qty >= 2) { %>
                                      <a onclick="increaseCartQty('changebtnInc<%-index%>', '<%-id%>', '<%-cartdata.products.productId%>', -1, '<%-cartdata.cartData%>', 'subtotal<%-index%>', 'qtyShow<%-index%>','decrease<%-index%>','priceshow<%-index%>','<%-cartdata.cartData.stock%>')" id="decrease<%-index%>"> <!-- Updated the ID -->
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M8.24268 8.63334L11.5427 5.33334L12.4854 6.27601L8.24268 10.5187L4.00002 6.27601L4.94268 5.33334L8.24268 8.63334Z" fill="black"/>
                                        </svg>
                                      </a>
                                    <% } else { %>
                                      <a style="visibility: hidden;" onclick="increaseCartQty('changebtnInc<%-index%>', '<%-id%>', '<%-cartdata.products.productId%>', -1, '<%-cartdata.cartData%>', 'subtotal<%-index%>', 'qtyShow<%-index%>','decrease<%-index%>','priceshow<%-index%>','<%-cartdata.cartData.stock%>')" id="decrease<%-index%>"> <!-- Updated the ID -->
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M8.24268 8.63334L11.5427 5.33334L12.4854 6.27601L8.24268 10.5187L4.00002 6.27601L4.94268 5.33334L8.24268 8.63334Z" fill="black"/>
                                        </svg>
                                      </a>
                                    <% } %>
                                  </div>
                            </div>
                        </div>
                        <div class="cols price" style="justify-content: space-between;" >
                            <span id="subtotal<%-index%>">
                                ₹

                                <%if(cartdata && cartdata.cartData && cartdata.cartData.offer && cartdata.cartData.offer.offerprice){%>
                                    <%let price=cartdata.cartData.price-(cartdata.cartData.price*cartdata.cartData.offer.offerprice)/100%>
                                    <%-cartdata.products.qty*price%>
                                <%}else if(cartdata.cartData && cartdata.cartData.discount){%>
                                    <%-cartdata.products.qty*cartdata.cartData.discount%>
                               <%}else{%>
                                   <%-cartdata.products.qty*cartdata.cartData.price%>
                               <%}%>
                            </span>
                            <a  onclick="removeItemfromCart('<%-id%>','<%-cartdata.products.productId%>','deleterow<%-index%>','finalsub','aftertotal','<%-userCartdata.length%>')" class="cancel">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="12" cy="12" r="9" fill="#DB4444"/>
                                    <path d="M9 15L12 12M15 9L11.9994 12M11.9994 12L9 9M12 12L15 15" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg> 
                            </a>
                        </div>
                    </div>
                <%})%>
            </div>
            <div class="returnandupdate" style="visibility: hidden;" id="returnSEction">
                <a  id="return" style="font-size: 12px;width: 140px;">See All Coupons</a>
                <!-- <a href="">Update cart</a> -->
            </div>
            <div class="place-order" id="placrOrderBx">
                <%if(!couponExistStatus){%>
                    <form  class="sp cupon_apply" onsubmit="applyCoupon(event,'<%-id%>','<%-totalAmount%>')" id="couponBoxInput">
                        <input type="text" placeholder="Apply Coupon" name="couponcode" id="couponcode">
                        <button type="submit">apply Coupon</button>
                    </form>
                    <%}else{%>
                        <form  class="sp cupon_apply" style="visibility: hidden;">
                            
                        </form>
                <%}%>
                
                <div class="place_order_box">
                    <div class="headertxt">
                      Cart Total
                    </div>
                    <div class="midtxt">
                        <div class="txt"><span>Subtotal</span> <span id="finalsub">₹<%-totalAmount%></span></div>
                        <div class="txt"><span>Shipping</span> <span>Free</span></div>
                        <%let totalamount=totalAmount%>
                        <div class="txt"><span>Total</span> <span >₹<span id="aftertotal"><%-totalamount%></span></span></div>
                        <div class="txt">
                            <a href="/users/product/cart/checkout/<%-id%>?">Process to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        <%}else{%>
            <div class="empty" id="emptySection">
                <img src="/images/cartEmpty.webp" alt="">
            </div>
        <%}%>
    
    </div>
    <%-include('../partials/footer.ejs') %>
</div>
