<%-include('../partials/header.ejs') %>
<div class="home">
    <style>
        .home .home_banner .banner .image_section .image{
            background: url('/images/new15-removebg-preview.png');
            background-position: right;
            background-size:contain;
            background-repeat: no-repeat;
        }
    </style>
    <%-include('../partials/profiletoggle.ejs')%>
    <div class="home_banner">
        <div class="categoy_section">
            <div class="category_links">
                <%categories.forEach((data)=>{%>
                    <a href="/products/product-detail/<%-data._id%>/mainimage"><%-data.categoryname %></a>
                <%})%>
            </div>
        </div>
        <div class="banner">
            <div class="image_section">
                <div class="text">
                    <div class="items">
                        <div class="logo_txt">
                            <img src="/images/applelogo.svg" alt="">
                            <p>iphone 15 series</p>
                        </div>
                        <div class="logo_txt main_text">
                            <h1>Up to 10% off voucher</h1>
                            <a href="">Shop now <img src="/images/rightgo.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <!-- <img src="/images/iphone15.jpg" alt=""> -->
                </div>
            </div>
        </div>
    </div>
    <%if(err){%>

        <div class="err" style="display: flex;justify-content: center;background: rgba(255, 0, 0, 0.302);width:90%;margin:auto;align-items:center;height:30px">
            <p style="margin: 0;">Your Permission Denied by Admin</p>
        </div>
  <%  }%>
    <div class="products_section">
  
        <%productData.forEach((data)=>{%>
            <%if(!data.deletionStatus){%>
                <a href="https://aflahaflu.shop/products/product-detail/<%-data._id%>/mainimage" style="text-decoration: none;color:black" >
                    <div class="product_card">
                        <div class="image_section">
                            <!-- <div class="move">
                                <a href="/users/product/add-to-cart/">
                                    <img src="/images/moveto.svg" alt="">
                                </a>
                                <a href="">
                                    <img src="/images/movewish.svg" alt="">
                                </a>
                            </div> -->
                            <img src="/product-images/<%-data.image[0].mainimage%>" alt="">
                        </div>
                        <div class="detail_section">
                            <p><%-data.productName%></p>
                            <div class="price">
                                <p class="discounted">
                                    <%if(data.discount){%>
                                        ₹<%-data.discount%>
                                    <%}else{%>
                                        ₹<%-data.price%>
                                        <%}%>
                                </p>
                                <p class="mrp">
                                    <%if(data.discount){%>
                                        <%-data.price%>₹
                                   <% }%>
                                </p>
                            </div>
                            <div class="star_rating">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                            </div>
                        </div>
                    </div>
                </a>
           <% }%>
       <% })%>
    </div>
    <%-include('../partials/footer.ejs') %>
</div>
