<%-include('../partials/header.ejs') %>
<div class="home" style="min-height: 100vh;">
    <%-include('../partials/profiletoggle.ejs')%>
    <div class="cart_secttion">
        <div class="brudCrump">
            <span>Home</span><span>/</span><span>Orders</span>
        </div>
  
            <div class="table">
                <div class="row">
                    <div class="cols product">products</div>
                    <div class="cols price">Price</div>
                    <div class="cols price">Quantity</div>
                    <div class="cols price">Subtotal</div>
                    <div class="cols price">Payment mode</div>
                    <div class="cols price">Date</div>
                    <div class="cols price">Status</div>
                </div>
                <%i=0%>                       
                    <%orderDetail.forEach((value,index)=>{%>
                        
                        <%value.userOrders.forEach((value)=>{%>    
                            
                            <div class="row">
                                <div class="cols product">
                                    <img src="/product-images/<%-value.products.image[0].mainimage%>" style="width:50px;height:auto" alt="">
                                    <span style="margin-left: 20px;"><%-value.products.productName %></span>
                                </div>
                                <div class="cols price">
                                    <%if(value.products && value.products.discount){%>
                                        ₹<%-value.products.discount%>
                                        <%}else{%>
                                            ₹<%-value.products.price%>
                                   <% }%>
                                </div>
                                <div class="cols price">
                                    
                                    <%-qty[i]%>
                                </div>
                                <div class="cols price" style="justify-content: space-between;">

                                   <%if(value.products && value.products.discount){%>
                                    ₹<%-value.products.discount*qty[i]%>
                                    <%}else{%>
                                        ₹<%-value.products.price*qty[i]%>
                                   <%}%>
                                   
                                </div>
                                <div class="cols price" style="justify-content: space-between;">
                                    <%-value.paymentmode%>
                                </div>
                                <div class="cols price" style="justify-content: space-between;">
                                    <% let date=new Date(value.delverydate) %>
                                    <% let days=["Sunday","Monday","Tuesday","Wednesday","Thersday","Friday","Satuarday"]%>
                                    <% let monthAr=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]%>
                                    <%-date.getDate()%> <%-monthAr[date.getMonth()]%> <%-date.getFullYear()%>
                                    <%-days[date.getDay()]%>
                                </div>
                                
                                <div class="cols price" style="justify-content: space-between;">
                                    <%if(value.status == 'Pending'){%>

                                        <span style="background: rgba(255, 54, 8, 0.635);padding:2px 10px;border-radius: 10px;font-size: 12px;color:#ffff">
                                            <%-value.status%>
                                        </span>
                                    <%}else if(value.status == 'Confirmed'){%>
                                        <span style="background: rgba(245, 216, 1, 0.635);padding:2px 10px;border-radius: 10px;font-size: 12px;color:#ffff">
                                            <%-value.status%>
                                        </span>
                                    <%}else if(value.status == 'Shipped'){%>
                                            <span style="background: rgba(153, 255, 19, 0.635);padding:2px 10px;border-radius: 10px;font-size: 12px;color:#ffff">
                                                <%-value.status%>
                                            </span>
                                     <%}else if(value.status == 'Delivered'){%>
                                                <span style="background: rgba(6, 245, 2, 0.636);padding:2px 10px;border-radius: 10px;font-size: 12px;color:#ffff">
                                                    <%-value.status%>
                                                </span>
                                    <%}else if(value.status=='Canceled'){%>
                                                <span style="background: rgba(223, 156, 12, 0.636);padding:2px 10px;border-radius: 10px;font-size: 12px;color:#ffff">
                                                        <%-value.status%>
                                                </span>
                                    <%}%>
                                   <%if(value.status!='Delivered'){%>
                                    <a href="/users/products/orders/cancelorder/<%-value._id%>/<%-value.userId%>/<%-value.products._id%>/<%-qty[i]%>" title="Cancel Order">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="12" cy="12" r="9" fill="#DB4444"/>
                                            <path d="M9 15L12 12M15 9L11.9994 12M11.9994 12L9 9M12 12L15 15" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg> 
                                    </a>
                                   <%}else{%>
                                    <a href="" title="return product">
                                        <img src="/images/return.svg" style="width: 18px;height: 18px;" alt="">
                                    </a>
                                      
                                   <%}%>
                                </div>
                            </div>
                            <%i++%>
                        <%})%>
                   <% })%>

            </div>
    </div>
    <%-include('../partials/footer.ejs') %>
</div>
