<%-include('../partials/header.ejs') %>
    <div class="signup">
        <%-include('../partials/profiletoggle.ejs')%>
        <div class="checkout">
            <div class="heading">
                <h1>Place order</h1>
            </div>
            <form class="checkandAddress" id="forCheckout" onsubmit="checkoutformSubmit(event,'<%-id%>')">
                <div class="checkoutform place_order">
                    <!-- <a href="/users/account/address/add-address/<%-id%>" class="add">
                        Add Address
                    </a> -->
                    <%addressData.addresses.forEach((data,index)=>{%>
                        <div class="address">
                         <div class="select">
                             <input type="radio" id="rd" name="address" value="<%-index%>" checked required>
                             <!-- <label for="rd" class="rbtn"></label> -->
                             <div class="icons " style="display:flex;gap:10px">
                                 <a href="/users/product/cart/checkout/place-order/edit-address/<%-id%>/<%-data._id%>">
                                     <img src="/images/editsv.svg" style="width: 20px ;height:20px"  alt="">
                                 </a>
                                 <a href="/users/product/cart/checkout/place-order/delete-address/<%-id%>/<%-data._id%>">
                                     <img src="/images/bin.svg" style="width: 20px ;height:20px" alt="">
                                 </a>
                             </div>
                         </div>
                         <div class="data">
                             <p><%-data.name%></p>
                             <p><%-data.street%> Street</p>
                             <p><%-data.pincode%> pin</p>
                             <p><%-data.district%></p>
                             <p><%-data.state%></p>
                             <p><%-data.email%></p>
                             <p>+91 <%-data.phone%></p>
                             <p><%-data.apartmentOrBuilding%> </p>
                         </div>
                        </div>
                    <%})%>
                </div>
                <div class="checkoutbox">
                    <div class="item_box">
                        <%cartData.forEach((data)=>{%>
                            <div class="priceandimg">
                                <div class="img" qty="<%-data.products.qty%>">
                                    <img src="/product-images/<%-data.cartData.image[0].mainimage%>" width="40px" height="auto" alt="">
                                </div>
                                <div class="name"><%-data.cartData.productName%></div>
                                <%if(!data.cartData.discount){%>
                                    <div class="price">₹<%-data.cartData.price%></div>
                                    <% }else{%>
                                    <div class="price">₹<%-data.cartData.discount%></div>
                               <% }%>
                            </div>
                       <% })%>
                 
                        <div class="priceandimg sub">
                            <div class="name" >Subtotal  </div>
                            <div class="price">₹<%-totalAmount%></div>
                        </div>
                        <div class="priceandimg sub">
                            <div class="name" >Shipping  </div>
                            <div class="price">Free</div>
                        </div>
                        <div class="priceandimg sub total">
                            <div class="name" >Total  </div>
                            <div class="price">₹<%-totalAmount%></div>
                        </div>
                        <div class="priceandimg select">
                            <div class="radio">
                                <div class="btn">
                                    <input type="radio" name="payment_method" value="Bank" id="">
                                </div>
                                <p>Bank</p>
                            </div>
                            <div class="imgs">
                                <img src="/images/fstBkash.svg" alt="">
                                <img src="/images/visacard.svg" alt="">
                                <img src="/images/Mastercard.svg" alt="">
                                <img src="/images/hndi.svg" alt="">
                            </div>
                        </div>
                        <div class="priceandimg select">
                            <div class="radio">
                                <div class="btn">
                                    <input type="radio" name="payment_method" value="COD" id="">
                                </div>
                                <p>Cash on delivery</p>
                            </div>
                            
                        </div>
                        <!-- <div class="priceandimg select">
                            <div class="radio">
                                <div class="btn">
                                    <input type="radio" name="payment_method" value="Wallet" id="">
                                </div>
                                <p>With Wallet Amount</p>
                            </div>
                            
                        </div> -->
                        <div class="priceandimg select button" style="justify-content: space-between;">
                            <button type="submit" id="placeorderbtn">Place Order 
                                <!-- <img src="/images/loading.png"  alt=""> -->
                            </button>
                            <a   id="add" href="/users/account/address/add-address/<%-id%>" class="add">
                                Add Address
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>    
    <%-include('../partials/footer.ejs') %>

