<%-include('../partials/header.ejs') %>
<div class="home">
    <%-include('../partials/profiletoggle.ejs')%>
    <div class="product_detail_section">
        <div class="preview_images">
            <div class="imgs">
                <div class="secondaries">
                    <a href="/products/product-detail/<%-productData[0]._id%>/image1" class="prviewImg preview1">
                        <img src="/product-images/<%-productData[0].image[0].image1%>" alt="">
                    </a>
                    <a href="/products/product-detail/<%-productData[0]._id%>/image2" class="prviewImg preview2">
                        <img src="/product-images/<%-productData[0].image[0].image2%>" alt="">
                    </a>
                    <a href="/products/product-detail/<%-productData[0]._id%>/image3" class="prviewImg preview3">
                        <img src="/product-images/<%-productData[0].image[0].image3%>" alt="">
                    </a>
                    <a href="/products/product-detail/<%-productData[0]._id%>/image4" class="prviewImg preview4">
                        <img src="/product-images/<%-productData[0].image[0].image4%>" alt="">
                    </a>
                </div>
                <a href="/products/product-detail/<%-productData[0]._id%>/mainimage" class="main" id="img-container">
                    <img src="/product-images/<%-productData[0].image[0][mainImageas]%>" alt="">
                </a>
            </div>
        </div>
        <div class="descriptions">
            <div class="contents">
                <div class="head_part">
                
                        <h1 style="display: flex;justify-content: space-between;"><%-productData[0].productName%> 
                            <%if( productData[0].stock<=0) {%>
                                <span
                                span style="font-size: 10px;padding: 5px;background: rgba(210, 210, 80, 0.536);
                                display: flex;align-items: center;justify-content: center;border-radius: 10px;">Currently Unavailable</span>
                            <%}%>
                        </h1>
                        <div class="ratings">
                            <img src="/images/star.svg" alt="">
                            <img src="/images/star.svg" alt="">
                            <img src="/images/star.svg" alt="">
                            <img src="/images/star.svg" alt="">
                            <img src="/images/star.svg" alt="">
                        </div>
                        <div class="rate_and_desc">
                            <div class="price">
                                <%if(productData[0].discount){%>
                                    <h3 class="discounted"><%-productData[0].discount%>₹</h3>
                               <% }%>
                               
                                <h3 class="
                                <%if(productData[0].discount){%>
                                    mrp
                               <% }else{%>
                                discounted
                              <% }%>
                                "><%-productData[0].price%>₹</h3>
                            </div>
                            <p><%-productData[0].description%></p>
                            <ul>
                               <%for(let data in productData[0].specification[0]){%>
                                <li><%-productData[0].specification[0][data]%></li>
                             <%  }%>
                            </ul>
                        </div>
                </div>
                <div class="function_part">
                    <div class="btns">
                        <!-- <div class="qty">
                            <a href="" class="minus">-</a>
                            2
                            <a href="" class="plus">+</a>
                        </div> -->
                        <%if( productData[0].stock<=0){%>
                            <a class="addtocart" style="cursor: not-allowed;background-color: #c79c9c;">Add to Cart</a>
                        <%}else{%>
                            <a href="/users/product/add-to-cart/<%-productData[0]._id%>" class="addtocart">Add to Cart</a>
                        <%}%>
                        <a href="" class="whish"><img class="whish" src="/images/heart.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="related">
        <div class="red_bx">
        </div>
        <p>Related Items</p>
    </div>
    <div class="products_section" style="width: 90%;">
        <%allProduct.forEach((data)=>{%>
            <%if(!data.deletionStatus){%>
                <a href="http://localhost:5001/products/product-detail/<%-data._id%>/mainimage" style="text-decoration: none;color:black">
                    <div class="product_card">
                        <div class="image_section">
                            <!-- <div class="move">
                                <a href="/users/product/add-to-cart/<%-data._id%>">
                                    <img src="/images/moveto.svg" alt="">
                                </a>
                                <a href="">
                                    <img src="/images/movewish.svg" alt="">
                                </a>
                            </div> -->
                            <img src="/product-images/<%-data.image[0].mainimage%>" alt="">
                        </div>
                        <div class="detail_section">
                            <p><%-data.productName%></p>
                            <div class="price">
                                <p class="discounted">
                                    <%if(data.discount){%>
                                        ₹<%-data.discount%>
                                    <%}else{%>
                                        ₹<%-data.price%>
                                        <%}%>
                                </p>
                                <p class="mrp">
                                    <%if(data.discount){%>
                                        <%-data.price%>₹
                                   <% }%>
                                </p>
                            </div>
                            <div class="star_rating">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                            </div>
                        </div>
                    </div>
                </a>
           <% }%>
       <% })%>  
    </div>
    <%-include('../partials/footer.ejs') %>
    </div>
</div>
<script>
    let options={
        width:300,
        zoomWidth:300,
        offset:{vertical:0,horizontal:210}
    }
    new ImageZoom(document.getElementById('img-container'),options)

     //function detailImage(productId,imagetoChange,imgdisplay){
    //  const ImgTags=document.getElementById(imgdisplay)
    //  fetch(`/products/product-detail/${productId}/${imagetoChange}`).
    //  then((response)=>response.json()).then((res)=>{
    //    imgdisplay.src=`/product-images/${res.mainImageas}`;
    //  })
    //}
</script>