<%-include('../partials/header.ejs') %>
<div class="home" style="min-height: 100vh;" id="he">
    <img src="/images/addAnim.gif" alt="" class="addtocartanima">
    <style>
        figure.zoom {
            position: relative;
            width: 500px;
            overflow: hidden;
            cursor: zoom-in;
            background-position: 50% 50%;
            display: flex;
            justify-content: center;
            height: 100%;
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
          }
          figure.zoom img:hover {
            opacity: 0;
          }
          
          figure.zoom img {
            transition: opacity 0.5s;
            display: block;
            width: 100%;
          }

          
    </style>
    <%-include('../partials/profiletoggle.ejs')%>
    <div class="product_detail_section">
        <div class="preview_images" id="prev">
            <div class="imgs">
                <div class="secondaries">
                    <!-- href="/products/product-detail/<%-productData[0]._id%>/image1" -->
                    <a style="cursor: pointer;" class="prviewImg preview1"
                    onclick="showPreviewImg('<%-productData[0]._id%>','toDisplay1','toDisplay5')">
                    
                        <img src="/product-images/<%-productData[0].image[0].image1%>" alt="" id="toDisplay1" >
                    </a>
                    <!-- href="/products/product-detail/<%-productData[0]._id%>/image2" -->
                    <a style="cursor: pointer;" class="prviewImg preview2" 
                    onclick="showPreviewImg('<%-productData[0]._id%>','toDisplay2','toDisplay5')">
                     
                        <img src="/product-images/<%-productData[0].image[0].image2%>" alt="" id="toDisplay2">
                    </a>
                    <!-- href="/products/product-detail/<%-productData[0]._id%>/image3" -->
                    <a style="cursor: pointer;" class="prviewImg preview3" 
                    onclick="showPreviewImg('<%-productData[0]._id%>','toDisplay3','toDisplay5')">
                     
                        <img src="/product-images/<%-productData[0].image[0].image3%>" alt="" id="toDisplay3">
                    </a>
                    <!-- href="/products/product-detail/<%-productData[0]._id%>/image4" -->
                    <a style="cursor: pointer;" class="prviewImg preview4"
                    onclick="showPreviewImg('<%-productData[0]._id%>','toDisplay4','toDisplay5')">
                     
                        <img src="/product-images/<%-productData[0].image[0].image4%>" alt="" id="toDisplay4">
                    </a>
                </div>
                <!-- href="/products/product-detail/<%-productData[0]._id%>/mainimage" -->
                
                <a style="cursor: pointer;" class="main" id="img-container"
                onclick="showPreviewImg('<%-productData[0]._id%>','toDisplay5','toDisplay5')">
                <figure  id="figure" class="zoom" onmousemove="zoom(event,this,'toDisplay5')" onmouseleave="removeBg(this,'toDisplay5')">
                    <img src="/product-images/<%-productData[0].image[0][mainImageas]%>" alt="" id="toDisplay5" style="height: 50%;width: auto;position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);">
                </figure>
                </a>
                
            </div>
        </div>
        <div class="descriptions">
            <div class="contents">
                <div class="head_part" style="position: relative;">
                
                        <h1 style="display: flex;justify-content: space-between;"><%-productData[0].productName%> 
                            <%if( productData[0].stock<=0) {%>
                                <span style="font-size: 10px;padding: 5px;background: rgba(210, 210, 80, 0.536);
                                display: flex;align-items: center;justify-content: center;border-radius: 10px;">Currently Unavailable</span>
                            <%}else if(productData[0].offer && productData[0].offer.offerprice){%>
                                    <span style="font-size: 14px;padding: 5px;background: #fe0606;position: absolute;top:5px;right: 0;
                                    display: flex;align-items: center;justify-content: center;border-radius: 50%;width: 50px;height: 50px;font-weight: 600;color:white">
                                    <span style="width: 25px;"><%-productData[0].offer.offerprice%>% Off</span>
                                </span>
                            <%}%>
                        </h1>
                        <div class="ratings">
                            <img src="/images/star.svg" alt="">
                            <img src="/images/star.svg" alt="">
                            <img src="/images/star.svg" alt="">
                            <img src="/images/star.svg" alt="">
                            <img src="/images/star.svg" alt="">
                        </div>
                        <div class="rate_and_desc">
                            <div class="price">
                                <!-- <%if(productData[0].discount){%>
                                    <h3 class="discounted"><%-productData[0].discount%>₹</h3>
                               <% }%>
                               
                                <h3 class="
                                <%if(productData[0].discount){%>
                                    mrp
                               <% }else{%>
                                discounted
                              <% }%>
                                "><%-productData[0].price%>₹</h3> -->


                                <%if(productData[0].offer && productData[0].offer.offerprice){%>
                                    <h3 class="discounted">
                                        ₹<%-productData[0].price-((productData[0].price*productData[0].offer.offerprice)/100)%>
                                    </h3>
                                <%}else if(productData[0].discount){%>
                                        <h3 class="discounted">
                                            ₹<%-productData[0].discount%>
                                    </h3>
                                <%}%>
                                <h3 class="
                                  <%if(productData[0].offer && productData[0].offer.offerprice){%>
                                    mrp
                                <%}else if(productData[0].discount){%>
                                    mrp
                                <%}else{%>
                                    discounted
                                <%}%>
                                ">₹<%-productData[0].price%></h3>
                            </div>
                            <p><%-productData[0].description%></p>
                            <ul class="list">
                               <%for(let data in productData[0].specification[0]){%>
                                <li><%-productData[0].specification[0][data]%></li>
                             <%  }%>
                            </ul>
                        </div>
                </div>
                <div class="function_part">
                    <div class="btns">
                        <!-- <div class="qty">
                            <a href="" class="minus">-</a>
                            2
                            <a href="" class="plus">+</a>
                        </div> -->
                        <%if( productData[0].stock<=0){%>
                            <a class="addtocart" style="cursor: not-allowed;background-color: #c79c9c;">Add to Cart</a>
                        <%}else if(exist){%>
                            <a  onclick="location.href=`http://localhost:5001/users/product/cart/showcart/<%-id%>`" class="addtocart">Go to Cart</a>
                            <%}else{%>
                                <a  onclick="addToCart(event,'<%-productData[0]._id%>','detail','<%-id%>','addtocartanima')" class="addtocart" id="cartTxt">Add to Cart</a>
                         <%} %>
                        <a href="" class="whish"><img class="whish" src="/images/heart.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="related">
        <div class="red_bx">
        </div>
        <p>Related Items</p>
    </div>
    <div class="products_section" style="width: 90%;">
        <%allProduct.forEach((data)=>{%>
            <%if(!data.deletionStatus){%>
                <a href="http://localhost:5001/products/product-detail/<%-data._id%>/mainimage" style="text-decoration: none;color:black">
                    <div class="product_card">
                        <div class="image_section">
                            <!-- <div class="move">
                                <a href="/users/product/add-to-cart/<%-data._id%>">
                                    <img src="/images/moveto.svg" alt="">
                                </a>
                                <a href="">
                                    <img src="/images/movewish.svg" alt="">
                                </a>
                            </div> -->
                            <img src="/product-images/<%-data.image[0].mainimage%>" alt="">
                        </div>
                        <div class="detail_section">
                            <p><%-data.productName%></p>
                            <div class="price">
                                <p class="discounted">
                                    <%if(data.discount){%>
                                        ₹<%-data.discount%>
                                    <%}else{%>
                                        ₹<%-data.price%>
                                        <%}%>
                                </p>
                                <p class="mrp">
                                    <%if(data.discount){%>
                                        <%-data.price%>₹
                                   <% }%>
                                </p>
                            </div>
                            <div class="star_rating">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                            </div>
                        </div>
                    </div>
                </a>
           <% }%>
       <% })%>  
    </div>
    <%-include('../partials/footer.ejs') %>
    </div>
</div>
<script>
    let options={
        width:300,
        zoomWidth:500,
        zoomHeigth:500,
        zIndex:99,
        offset:{vertical:0,horizontal:210}
    }
    new ImageZoom(document.getElementById('image-container'),options)
    function zoom(e,figure,img){
        document.getElementById(img).style.display='none'
        figure.style.background=`url(${document.getElementById(img).src})`
        var zoomer = e.currentTarget;
        e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX
        e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX
        x = offsetX/zoomer.offsetWidth*100
        y = offsetY/zoomer.offsetHeight*100
        zoomer.style.backgroundPosition = x + '% ' + y + '%';
      }
      function removeBg(figure,image){
        figure.style.background=''
        document.getElementById(image).style.display='block'
      }
     //function detailImage(productId,imagetoChange,imgdisplay){
    //  const ImgTags=document.getElementById(imgdisplay)
    //  fetch(`/products/product-detail/${productId}/${imagetoChange}`).
    //  then((response)=>response.json()).then((res)=>{
    //    imgdisplay.src=`/product-images/${res.mainImageas}`;
    //  })   
    //}
</script>