<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MegarMart |</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="icon" href="/images/title_icon.png">


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/brands.min.css" integrity="sha512-W/zrbCncQnky/EzL+/AYwTtosvrM+YG/V6piQLSe2HuKS6cmbw89kjYkp3tWFn1dkWV7L1ruvJyKbLz73Vlgfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/regular.min.css" integrity="sha512-rOTVxSYNb4+/vo9pLIcNAv9yQVpC8DNcFDWPoc+gTv9SLu5H8W0Dn7QA4ffLHKA0wysdo6C5iqc+2LEO1miAow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  
        
    <link rel="stylesheet" href="/styles/style.css">
    <script  src="./node_modules/axios/dist/axios.min.js"></script>
    <script  src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/javascript/misc.js"></script>
    <script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <style>
        
::selection {
    color: #fff;
    background: #17a2b8;
  }
  .wrapper {
    width: 80%;
  }
  .price-input {
    width: 100%;
    display: flex;
    
  }
  .price-input .field {
    display: flex;
    width: 64%;
    height: 25px;
    align-items: center;
  }
  .field input {
    width: 100%;
    height: 20px;
    outline: none;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
    border: none;
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .price-input .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .slider .progress {
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #4458db;
  }
  .range-input {
    position: relative;
  }
  .range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #4458db;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }
  input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #4458db;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }
  
  /* Support */
  .support-box {
    top: 2rem;
    position: relative;
    bottom: 0;
    text-align: center;
    display: block;
  }
  .b-btn {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .b-btn.paypal i {
    color: blue;
  }
  .b-btn:hover {
    text-decoration: none;
    font-weight: bold;
  }
  .b-btn i {
    font-size: 20px;
    color: yellow;
    margin-top: 2rem;
  }
  
    </style>
</head>

<body>

    <header class="main_nav">
        <div class="top_bar">
            <p style="margin: 0;">Summer Sale For All Gadget And Free Express Delivery - OFF 50%!</p>
        </div>
        <div class="nav_bar">
            <div class="all_items">
                <div class="logo_section">
                    <a href="/">

                        <img src="/images/Logo.svg" alt="" class="main">
                        <img src="/images/title_icon.png" alt="" class="sma">
                    </a>
                </div>
                <div class="links">
                    <a href="/" style="font-size: 14px;">
                        <span class="ico">
                            <i class="fa-sharp fa-house"></i>
                        </span>
                        Home
                        <span>
                            <img src="/images/icons8-right-16.png" alt="">
                        </span>
                    </a>
                    <a href="" style="font-size: 14px;">
                        <span class="ico">
                            <i class="fa-solid fa-address-card"></i>
                        </span>
                        Contact
                        <span>
                            <img src="/images/icons8-right-16.png" alt="">
                        </span>
                    </a>
                    <a href="/products" style="font-size: 14px;">
                        <span class="ico">
                            <i class="fa-solid fa-eject"></i>
                        </span>
                        Products
                        <span>
                            <img src="/images/icons8-right-16.png" alt="">
                        </span>
                    </a>
                    <%if(profile){%>
                        <a href="/users/product/orders/trackorders/<%-id%>" style="font-size: 14px;">
                            <span class="ico">
                                <i class="fa-solid fa-truck"></i>
                            </span>
                            Orders
                            <span>
                                <img src="/images/icons8-right-16.png" alt="">
                            </span>
                        </a>
                        <%}else{%>
                            <a href="/user/login" style="font-size: 14px;">
                                <span class="ico">
                                    <i class="fa-solid fa-at"></i>
                                </span>
                                Login
                                <span>
                                    <img src="/images/icons8-right-16.png" alt="">
                                </span>
                            </a>
                        <%}%>
                </div>
                <div class="icons">
                    <form class="search_box"  id="searchboxforproduct">
                        <input type="search" placeholder="search product" name="searchdata" oninput="searchProductInHome(event,'<%-profile%>')">
                        <input type="submit" value="" id="btn" style="display: none;">
                        <label for="btn" style="margin: 0;padding: 0;height: auto;">
                            <img src="/images/search.svg" alt="">
                        </label>
                    </form>
                    <%if(profile){%>
                        <a href="/users/product/whishlist/<%-id%>"  class="crt whish">
                            <img class="whish" src="/images/heart.svg" alt="">
                            <span id="whish"><%-whishCount%></span>
                        </a>
                        <a href="/users/product/cart/showcart/<%-id%>" class="crt">
                            <img class="cart" src="/images/cart.svg" alt="">
                            <span id="cartCnt"><%-cartCount%></span>
                        </a>
                        <% }else{%>
                            <a href="/user/login">
                                <img class="whish" src="/images/heart.svg" alt="">
                            </a>
                            <a href="/user/login">
                                <img class="cart" src="/images/cart.svg" alt="">
                            </a>
                            <% }%>
                            <%if(profile){%>
                                <a id="profile_btn" style="cursor: pointer;">
                                    <img src="/images/userprofile.svg" alt="">
                                </a>
                                <% } %>
                                <img class="menu" src="/images/menu_bar.svg" alt="">
                </div>
            </div>
        </div>
    </header>
    <main class="main_page" style="min-height: 100vh;">
        <div class="top_bar d-flex align-items-center  d-lg-none d-md-none ">
            <div class="br w-50 d-flex justify-content-center" type="button" data-bs-toggle="modal" data-bs-target="#filtermodal">
                <button class="m-0 p-2 bg-transparent text-dark" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                        <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                      </svg> Filter
                </button>
            </div>
            <div class="w-50 d-flex justify-content-center" type="button" data-bs-toggle="modal" data-bs-target="#sortmodal">
                <button class="m-0 p-2 bg-transparent text-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">
                        <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
                      </svg>
                      Sort
                </button>
            </div>
        </div>
        <div class="modal fade" id="filtermodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Filters<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                    <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                  </svg>  </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                </div>
                <div class="modal-body">
                  <div class="row ">
                    <div class="col-12 col-sm-6 " style="border-right: 1px solid #2625257d;">
                        <div class="head">
                            <h3 style="font-size: 18px;" class="text-uppercase">Categories <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                                <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
                              </svg> </h3>
                        </div>
                        <ul class="list-unstyled px-2">
                            <%categories.forEach(category=>{%>
                                <li>
                                    <input type="checkbox" name="category" id="<%-category._id%>" value="<%-category._id%>">
                                    <label for="<%-category._id%>" style="font-size: 13px;"><%-category.categoryname%></label>
                                </li>
                            <%})%>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6 border-1 ">
                        <div class="head">
                            <h3 style="font-size: 18px;" class="text-uppercase">Brands <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-slack" viewBox="0 0 16 16">
                                <path d="M3.362 10.11c0 .926-.756 1.681-1.681 1.681S0 11.036 0 10.111C0 9.186.756 8.43 1.68 8.43h1.682v1.68zm.846 0c0-.924.756-1.68 1.681-1.68s1.681.756 1.681 1.68v4.21c0 .924-.756 1.68-1.68 1.68a1.685 1.685 0 0 1-1.682-1.68v-4.21zM5.89 3.362c-.926 0-1.682-.756-1.682-1.681S4.964 0 5.89 0s1.68.756 1.68 1.68v1.682H5.89zm0 .846c.924 0 1.68.756 1.68 1.681S6.814 7.57 5.89 7.57H1.68C.757 7.57 0 6.814 0 5.89c0-.926.756-1.682 1.68-1.682h4.21zm6.749 1.682c0-.926.755-1.682 1.68-1.682.925 0 1.681.756 1.681 1.681s-.756 1.681-1.68 1.681h-1.681V5.89zm-.848 0c0 .924-.755 1.68-1.68 1.68A1.685 1.685 0 0 1 8.43 5.89V1.68C8.43.757 9.186 0 10.11 0c.926 0 1.681.756 1.681 1.68v4.21zm-1.681 6.748c.926 0 1.682.756 1.682 1.681S11.036 16 10.11 16s-1.681-.756-1.681-1.68v-1.682h1.68zm0-.847c-.924 0-1.68-.755-1.68-1.68 0-.925.756-1.681 1.68-1.681h4.21c.924 0 1.68.756 1.68 1.68 0 .926-.756 1.681-1.68 1.681h-4.21z"/>
                              </svg></h3>
                        </div>
                        <ul class="list-unstyled px-2">
                            <%brands.forEach(value=>{%>
                                <li>
                                    <input type="checkbox" name="brand" id="<%-value%>" value="<%-value%>">
                                    <label for="<%-value%>" style="font-size: 13px;"><%-value%></label>
                                </li>
                            <%})%>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-dark" data-bs-dismiss="modal" style="font-size: 14px;">Apply</button>
                  <!-- <button type="button" class="btn btn-primary">Appply</button> -->
                </div>
              </div>
            </div>
          </div>
        <div class="modal fade" id="sortmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Sort<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">
                    <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
                  </svg>  </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                </div>
                <div class="modal-body">
                  <div class="row ">
                    <div class="col-12 col-sm-6 " style="border-right: 1px solid #2625257d;">
                        <div class="head">
                            <h3 style="font-size: 18px;" class="text-uppercase">By Price <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
                                <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"/>
                                <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"/>
                              </svg> </h3>
                        </div>
                        <ul class="list-unstyled px-2">
                                <li>
                                    <input type="radio" name="sort" id="hightolow" value="hightolow">
                                    <label for="hightolow" style="font-size: 13px;">Price High to Low</label>
                                </li>
                                <li>
                                    <input type="radio" name="sort" id="lowtohigh" value="lowtohigh">
                                    <label for="lowtohigh" style="font-size: 13px;">Price Low to High</label>
                                </li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6 border-1 ">
                        <div class="head">
                            <h3 style="font-size: 18px;" class="text-uppercase">By Products <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                                <path d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"/>
                                <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V1Zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3V1Z"/>
                              </svg></h3>
                        </div>
                        <ul class="list-unstyled px-2">
                                <li>
                                    <input type="radio" name="sort" id="latest" value="latest">
                                    <label for="latest" style="font-size: 13px;">latest</label>
                                </li>
                                <li>
                                    <input type="radio" name="sort" id="oldest" value="oldest">
                                    <label for="oldest" style="font-size: 13px;">oldest</label>
                                </li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-dark" data-bs-dismiss="modal" style="font-size: 14px;">Apply</button>
                  <!-- <button type="button" class="btn btn-primary">Appply</button> -->
                </div>
              </div>
            </div>
          </div>
          
        <form class="side_bar" id="sfs">
            <div class="heading">
                <span>Filters <span class="fa fa-filter" style="font-size: 13px;"></span></span>
            </div>
            <div class="filter_value">
                <div class="filter_head">
                    <span class="text-secondary">Categories</span>
                </div>
                <div class="filter_data">
                    <ul>
                        <%categories.forEach((value)=>{%>
                            <li>
                                <input type="checkbox" name="category" id="<%- value.categoryname %>" value="<%-value._id %>">
                                <label for="<%- value.categoryname %>"><%- value.categoryname %></label></li>
                        <%})%>
                    </ul>
                </div>
            </div>
            <div class="filter_value">
                <div class="filter_head">
                    <span class="text-secondary">Brands</span>
                </div>
                <div class="filter_data">
                    <ul>
                        <%brands.forEach((value)=>{%>
                            <li>
                                <input type="checkbox" name="brand" id="<%-value%>" value="<%=value %>">
                                <label for="<%- value %>"><%- value %></label></li>
                        <%})%>
                    </ul>
                </div>
            </div>
            <div class="filter_value">
                <div class="filter_head">
                    <span class="text-secondary">Price range</span>
                </div>
                <div class="filter_data" style="padding-left: 20px;min-height: 50px;">
                      <div class="wrapper">
                        <div class="price-input">
                          <div class="field">
                            <!-- <span>Min</span> -->
                            <input type="number" class="input-min" value="2500" readonly>
                          </div>
                          <div class="separator">-</div>
                          <div class="field">
                            <!-- <span>Max</span> -->
                            <input type="number" class="input-max" value="7500" readonly>
                          </div>
                        </div>
                        <div class="slider">
                          <div class="progress"></div>
                        </div>
                        <div class="range-input">
                          <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
                          <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
                        </div>
                      </div>
                </div>
            </div>
            <div class="heading">
                <span>Sort <span class="fa fa-sort" style="font-size: 13px;"></span></span>   
            </div>
            <div class="filter_value " style="height: 100px;">
                <div class="filter_head">
                    <span class="text-secondary">By Price</span>
                </div>
                <div class="filter_data">
                    <ul>
                            <li>
                                <input type="radio" name="sort" id="hightolow" value="hightolow">
                                <label for="hightolow">High to Low</label></li>
                            <li>
                                <input type="radio" name="sort" id="lowtohigh" value="lowtohigh">
                                <label for="lowtohigh">Low to High</label></li>
                    </ul>
                </div>
            </div>
            <div class="filter_value" style="height: 100px;">
                <div class="filter_head">
                    <span class="text-secondary">By Products</span>
                </div>
                <div class="filter_data">
                    <ul>
                            <li>
                                <input type="radio" name="sort" id="latest" value="latest">
                                <label for="latest">Latest</label></li>
                            <li>
                                <input type="radio" name="sort" id="oldest" value="oldest">
                                <label for="oldest">Oldest</label></li>
                    </ul>
                </div>
            </div>
        </form>
        <div class="list_product">
            <div class="container my-4">
                <div class="row g-3" id="displayData">
                    <%products.forEach(product=>{%>
                        
                        <a class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6  d-flex justify-content-center text-decoration-none text-dark" onclick="window.location.href='/products/product-detail/<%-product._id%>/mainimage'">
                           <div class="card d-flex flex-column justify-content-between position-relative" style="width: 12rem;height: 15rem;box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.156);border: none;">
                            <%if(product.stock<1){%>
                                <span style="font-size: 12px;padding:2px;background: rgba(255, 0, 0, 0.224);width: 90px;margin: 2px;border-radius: 30px;display: flex;align-items: center;justify-content: center;" class="text-white">out of stock</span>
                                <%}else{%>
                                <span style="visibility:hidden;font-size: 12px;padding:2px;background: rgba(255, 0, 0, 0.224);width: 90px;margin: 2px;border-radius: 30px;display: flex;align-items: center;justify-content: center;" class="text-white">out of stock</span>
                            <%}%>
                            <div class="img d-flex justify-content-center" style="border-bottom: 1px solid rgb(205, 205, 205);height: 6rem;">
                                <img src="/product-images/<%-product.image[0].mainimage%>" style="height: 80%;width: auto;" alt="" class="card-top-img mt-2">
                            </div>
                            <div class="px-2">
                                <span style="font-size: 13px;"><%-product.productName%></span>
                            </div>
                            <div class="px-2 d-flex justify-content-between">
                                <span style="font-size: 13px;">
                                    <%if(product.discount){%>
                                        ₹<%-product.discount%>
                                        <%}else{%>
                                            ₹<%-product.price%>
                                    <%}%>
                                </span>
                                <span style="font-size: 13px;text-decoration: line-through;">
                                    <%if(product.discount){%>
                                        ₹<%-product.price%>
                                   <% }%>

                                </span>
                            </div>
                            <div class="px-2 d-flex justify-content-between mb-2">
                                <%if(product.stock<1){%>
                                    <button class="btn-dark m-0 py-1 px-3 disabled" style="font-size: 12px;background: rgba(107, 105, 105, 0.818);cursor: no-drop;" disabled>Add to cart</button>
                                    <%}else{%>
                                        <%if(id){%>
                                            <span style="display: none;" id="userId"><%-id%></span>
                                            <button class="btn-dark m-0 py-1 px-3" style="font-size: 12px;">Add to cart</button>
                                            <%}else{%>
                                                <span style="display: none;" id="userId"></span>
                                                <button class="btn-dark m-0 py-1 px-3" style="font-size: 12px;" onclick="window.location.href='/user/login'">Add to cart</button>
                                        <%}%>
                                    <%}%>
                                    <%if(id){%>

                                        <button class="btn-dark m-0 py-1 px-2" style="font-size: 15px;"><i class="fa fa-heart"></i></button>
                                        <%}else{%>
                                            <button class="btn-dark m-0 py-1 px-2" style="font-size: 15px;" onclick="window.location.href='/user/login'"><i class="fa fa-heart"></i></button>
                                    <%}%>
                            </div>
                           </div>
                        </a>
                    <%})%>
                </div>
            </div>
        </div>
    </main>
    <footer class="main_footer container-fluid" >
        <div class="footer_center row">
            <div class="footer_items it_1 col-12 col-lg-3">
                <h4>Exclusive</h4>
                <h5>Subscribe</h5>
                <p>Get 10% off your first order</p>
                <div class="footer_input">
                    <input type="text" placeholder="Enter Your Email" class="text-white">
                    <img src="/images/icon-send.svg" alt="">
                </div>
            </div>
            <div class="footer_items it_2 col-12 col-lg-3">
                <h4>Support</h4>
                <p>111 Bijoy Sarani, Dhaka, DH 1515, Bangladesh.</p>
                <p>exclusive@gmail.com</p>
                <p>+88015-88888-9999</p>
            </div>
            <div class="footer_items it_3 col-12 col-lg-3">
                <h4>Account</h4>
                <p>My Account</p>
                <p>Login / Register</p>
                <p>Wishlist</p>
                <p>Shop</p>
            </div>
            <div class="footer_items it_4 col-12 col-lg-3">
                <h4>Quick Links</h4>
                <p>Privacy Policy</p>
                <p>Terms of Use</p>
                <p>FAQ</p>
                <p>Contact</p>
            </div>
            <div class="footer_items it_1 col-12 col-lg-3">
                <h4>Download App</h4>
                <p>Save ₹100 with new users only</p>
                <p>exclusive@gmail.com</p>
                <div class="d-flex mt-5">
                    <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M13 10H17.5L17 12H13V21H11V12H7V10H11V8.128C11 6.345 11.186 5.698 11.534 5.046C11.875 4.40181 12.4018 3.87501 13.046 3.534C13.698 3.186 14.345 3 16.128 3C16.65 3 17.108 3.05 17.5 3.15V5H16.128C14.804 5 14.401 5.078 13.99 5.298C13.686 5.46 13.46 5.686 13.298 5.99C13.078 6.401 13 6.804 13 8.128V10Z"
                            fill="white" />
                    </svg>
                    <svg width="18" height="18" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12.905 8.84651L12.905 8.84646C12.9194 8.06035 13.2418 7.3113 13.8028 6.76049C14.3639 6.20969 15.1188 5.90116 15.905 5.90129L12.905 8.84651ZM12.905 8.84651L12.877 10.4213M12.905 8.84651L12.877 10.4213M4.75811 7.80857L4.89001 7.91846C6.76679 9.48211 8.71781 10.4182 10.7495 10.6952C10.7495 10.6952 10.7495 10.6952 10.7495 10.6952L12.3104 10.9072L4.75811 7.80857ZM4.75811 7.80857L4.72759 7.97751M4.75811 7.80857L4.72759 7.97751M4.72759 7.97751C4.42576 9.64819 4.5683 11.0709 5.1479 12.3018C5.72718 13.532 6.73827 14.5605 8.15577 15.4519L8.15579 15.452M4.72759 7.97751L8.15579 15.452M8.15579 15.452L9.90279 16.55L9.954 16.4685M8.15579 15.452L9.954 16.4685M9.954 16.4685L9.90279 16.55C9.97196 16.5934 10.0294 16.6532 10.0702 16.724C10.1109 16.7948 10.1337 16.8745 10.1365 16.9562C10.1392 17.0378 10.122 17.1189 10.0862 17.1924C10.0504 17.2658 9.99716 17.3294 9.93112 17.3775L9.93101 17.3775M9.954 16.4685L9.93101 17.3775M9.93101 17.3775L8.33901 18.5405L8.11542 18.7039M9.93101 17.3775L8.11542 18.7039M8.11542 18.7039L8.39178 18.7211M8.11542 18.7039L8.39178 18.7211M8.39178 18.7211C9.3449 18.7805 10.2529 18.7385 11.0095 18.5884L11.0096 18.5884M8.39178 18.7211L11.0096 18.5884M11.0096 18.5884C13.3886 18.1134 15.3745 16.9794 16.7652 15.2211M11.0096 18.5884L16.7652 15.2211M12.877 10.4213C12.8757 10.4918 12.8594 10.5612 12.8293 10.625C12.7993 10.6887 12.7561 10.7454 12.7026 10.7912C12.649 10.8371 12.5864 10.8712 12.5188 10.8911C12.4513 10.9111 12.3803 10.9166 12.3105 10.9072L12.877 10.4213ZM16.7652 15.2211C18.1557 13.463 18.945 11.0883 18.945 8.14229M16.7652 15.2211L18.945 8.14229M18.945 8.14229C18.945 7.99668 18.8714 7.78474 18.744 7.55722M18.945 8.14229L18.744 7.55722M18.744 7.55722C18.6142 7.32559 18.4215 7.06508 18.1673 6.82049M18.744 7.55722L18.1673 6.82049M18.1673 6.82049C17.6587 6.33088 16.8999 5.90129 15.905 5.90129L18.1673 6.82049ZM20.4978 5.53842C20.8818 5.48388 21.3285 5.34345 21.916 5.01105C21.6101 6.49526 21.4321 7.16764 20.7642 8.08336L20.745 8.10969V8.14229C20.745 11.9415 19.578 14.7567 17.8258 16.7397C16.0726 18.7238 13.7277 19.8813 11.3624 20.3532C9.74529 20.6759 7.7544 20.5728 5.99643 20.2106C5.11813 20.0296 4.30077 19.7846 3.61983 19.4974C3.03727 19.2517 2.56009 18.9775 2.22956 18.6904C2.66065 18.6482 3.4114 18.5535 4.24366 18.3598C5.24355 18.1272 6.37173 17.7494 7.20306 17.141L7.31918 17.056L7.19904 16.9768C7.15724 16.9492 7.11178 16.9196 7.06301 16.8879C6.30477 16.3938 4.74648 15.3786 3.73155 13.5166C2.66714 11.5637 2.19257 8.66295 3.91362 4.42592C5.57889 6.34347 7.2726 7.66001 8.99504 8.3668L8.99505 8.36681C9.57662 8.60536 9.94255 8.72373 10.2318 8.79141C10.4509 8.84265 10.6261 8.86463 10.8117 8.88794C10.8703 8.89529 10.93 8.90278 10.9924 8.91135L11.2872 8.95189L11.1059 8.77077C11.131 7.8414 11.4254 6.93895 11.9539 6.17331C12.4904 5.39606 13.2442 4.79434 14.1211 4.4435C14.9979 4.09265 15.9588 4.00828 16.8833 4.20093C17.8079 4.39359 18.6551 4.85471 19.3189 5.52657L19.3485 5.55658L19.3907 5.55628C19.4934 5.55556 19.5972 5.55908 19.7036 5.56269C19.9483 5.57098 20.2068 5.57974 20.4978 5.53842Z"
                            fill="white" stroke="black" stroke-width="0.2" />
                    </svg>
                    <svg width="18" height="18" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M15 1H5C3.93913 1 2.92172 1.42143 2.17157 2.17157C1.42143 2.92172 1 3.93913 1 5V15C1 16.0609 1.42143 17.0783 2.17157 17.8284C2.92172 18.5786 3.93913 19 5 19H15C16.0609 19 17.0783 18.5786 17.8284 17.8284C18.5786 17.0783 19 16.0609 19 15V5C19 3.93913 18.5786 2.92172 17.8284 2.17157C17.0783 1.42143 16.0609 1 15 1Z"
                            stroke="white" stroke-width="1.5" stroke-linejoin="round" />
                        <path
                            d="M10 14C11.0609 14 12.0783 13.5786 12.8284 12.8284C13.5786 12.0783 14 11.0609 14 10C14 8.93913 13.5786 7.92172 12.8284 7.17157C12.0783 6.42143 11.0609 6 10 6C8.93913 6 7.92172 6.42143 7.17157 7.17157C6.42143 7.92172 6 8.93913 6 10C6 11.0609 6.42143 12.0783 7.17157 12.8284C7.92172 13.5786 8.93913 14 10 14V14Z"
                            stroke="white" stroke-width="1.5" stroke-linejoin="round" />
                        <path
                            d="M15.5 5.5C15.7652 5.5 16.0196 5.39464 16.2071 5.20711C16.3946 5.01957 16.5 4.76522 16.5 4.5C16.5 4.23478 16.3946 3.98043 16.2071 3.79289C16.0196 3.60536 15.7652 3.5 15.5 3.5C15.2348 3.5 14.9804 3.60536 14.7929 3.79289C14.6054 3.98043 14.5 4.23478 14.5 4.5C14.5 4.76522 14.6054 5.01957 14.7929 5.20711C14.9804 5.39464 15.2348 5.5 15.5 5.5Z"
                            fill="white" />
                    </svg>
                    <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11.5 9.05C12.417 8.113 13.611 7.5 15 7.5C16.4587 7.5 17.8576 8.07946 18.8891 9.11091C19.9205 10.1424 20.5 11.5413 20.5 13V20.5H18.5V13C18.5 12.0717 18.1313 11.1815 17.4749 10.5251C16.8185 9.86875 15.9283 9.5 15 9.5C14.0717 9.5 13.1815 9.86875 12.5251 10.5251C11.8687 11.1815 11.5 12.0717 11.5 13V20.5H9.5V8H11.5V9.05ZM4.5 6C4.10218 6 3.72064 5.84196 3.43934 5.56066C3.15804 5.27936 3 4.89782 3 4.5C3 4.10218 3.15804 3.72064 3.43934 3.43934C3.72064 3.15804 4.10218 3 4.5 3C4.89782 3 5.27936 3.15804 5.56066 3.43934C5.84196 3.72064 6 4.10218 6 4.5C6 4.89782 5.84196 5.27936 5.56066 5.56066C5.27936 5.84196 4.89782 6 4.5 6ZM3.5 8H5.5V20.5H3.5V8Z"
                            fill="white" />
                    </svg>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
    <script src="/javascript/script.js"></script>
    <script src="/javascript/validate.js"></script>
    <script src="/javascript/productlist.js"></script>
    <script>
        window.addEventListener("load",()=>{
            localStorage.setItem('minprice','<%-min%>')
            localStorage.setItem("maxprice",'<%-max%>')
        })
        const popup=document.querySelector('.forsort')
        const srtBtn=document.querySelector(".sorting")
        const additionbtn=document.querySelector("#spric");
        const adpop=document.querySelector(".additions");
        srtBtn.addEventListener("click",()=>{
            popup.classList.toggle('actived')
    
        })
        additionbtn.addEventListener("click",()=>{
            adpop.classList.toggle("ACTIVE")
        })
    </script>
    </body>
    
    </html>