<%-include('../partials/header.ejs') %>
<div class="home" style="min-height: 100vh;">
    <%-include('../partials/profiletoggle.ejs')%>
    <div class="cart_secttion">
        <div class="brudCrump">
            <span>Home</span><span>/</span><span>My Account</span><span>/</span><span>My return</span>
        </div>
            <div class="table">
                <div class="row">
                    <div class="cols product">Product</div>
                    <div class="cols price">Price</div>
                    <div class="cols price">Order date</div>
                    <div class="cols price">return date</div>
                    <div class="cols price">number of day</div>


                </div>
                <%allUserreturns.forEach((returnData)=>{%>
                    <div class="row">
                        <% let product = returnData.product %>
                        <div class="cols product">
                            <img src="/product-images/<%-product.image[0].mainimage%>" style="width:50px;height:auto" alt="">
                            <span style="margin-left: 20px;"><%-product.productName%></span>
                        </div>
                        <div class="cols price">
                           <%-returnData.fianlprice%>
                        </div>
                        <div class="cols price">
                            <% let d = new Date(returnData.orderDate) %>
                            <% let dayAr = ["Sunday","Monday","Tuesday","Wednesday","Thersday","Friday","Satuarday"] %>
                            <% let monthAr=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]%>
                            <%=d.getDate()%> <%= monthAr[d.getMonth()+1]%> <%=d.getFullYear()%> <%=dayAr[d.getDay()]%>
                        </div>
                        <div class="cols price" style="justify-content: space-between;">
                            <% let d1 = new Date(returnData.returnedDate) %>
                            <% let dayAr1 = ["Sunday","Monday","Tuesday","Wednesday","Thersday","Friday","Satuarday"] %>
                            <% let monthAr1=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]%>
                            <%=d1.getDate()%> <%= monthAr1[d1.getMonth()+1]%> <%=d1.getFullYear()%> <%=dayAr1[d1.getDay()]%>
                        </div>
                        <div class="cols price" style="justify-content: space-between;">
                            <% const orderDate = new Date(returnData.orderDate);
                            const returnedDate = new Date(returnData.returnedDate);
                            const timeDifference = Math.abs(returnedDate - orderDate);
                            const numberOfDays = Math.ceil(timeDifference / (1000 * 60 * 60 * 24));
                            %>
                         <%= numberOfDays %>
                        </div>
                    </div>

               <% })%>
            </div>
    </div>
    <%-include('../partials/footer.ejs') %>
</div>
