<%-include('../partials/header.ejs') %>
<div class="home" style="min-height: 100vh;">
    <%-include('../partials/profiletoggle.ejs')%>
    <div class="cart_secttion">
        <div class="brudCrump">
            <span>Home</span><span>/</span><span>Cart</span>
        </div>
        <%if(empty){%>
            <div class="table">
                <div class="row">
                    <div class="cols product">Product</div>
                    <div class="cols price">Price</div>
                    <div class="cols price">Subtotal</div>
                </div>
                <%userCartdata.forEach((cartdata)=>{%>
                    <div class="row">
                        <div class="cols product">
                            <img src="/product-images/<%-cartdata.cartData.image[0].mainimage%>" style="width:50px;height:auto" alt="">
                            <span style="margin-left: 20px;"><%-cartdata.cartData.productName%></span>
                        </div>
                        <div class="cols price">
                            <%if(cartdata.cartData && cartdata.cartData.discount){%>
                                ₹<%-cartdata.cartData.discount%>
                                <% }else{%>
                                    ₹<%-cartdata.cartData.price%>
                           <%}%>
                        </div>
                        <div class="cols qty">
                            <div class="qty_button">
                                <div class="text">
                                    <% if (cartdata.products && cartdata.products.qty) { %>
                                        <% if (cartdata.products.qty < 10) { %>
                                            0<%- cartdata.products.qty %>
                                        <% } else { %>
                                            <%- cartdata.products.qty %>
                                        <% } %>
                                    <% }%>
                                </div>
                                <div class="nav">
                                    <%if(cartdata.cartData.stock>cartdata.products.qty){%>
                                        <a href="/users/product/cart/increaseqty/<%-id%>/<%-cartdata.products.productId%>/">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.75732 7.36666L4.45732 10.6667L3.51465 9.72399L7.75732 5.48132L12 9.72399L11.0573 10.6667L7.75732 7.36666Z" fill="black"/>
                                                </svg> 
                                        </a>
                                        <%}else{%>
                                            <a style="visibility: hidden;" href="/users/product/cart/increaseqty/<%-id%>/<%-cartdata.products.productId%>/">
                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M7.75732 7.36666L4.45732 10.6667L3.51465 9.72399L7.75732 5.48132L12 9.72399L11.0573 10.6667L7.75732 7.36666Z" fill="black"/>
                                                    </svg> 
                                            </a>
                                    <%}%>
                                    <%if(cartdata.products && cartdata.products.qty>=2 ){%>
                                        <a href="/users/product/cart/decreaseqty/<%-id%>/<%-cartdata.products.productId%>/">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M8.24268 8.63334L11.5427 5.33334L12.4854 6.27601L8.24268 10.5187L4.00002 6.27601L4.94268 5.33334L8.24268 8.63334Z" fill="black"/>
                                              </svg>
                                        </a>
                                    <%}else{%>
                                        <a style="visibility: hidden;" href="/users/product/cart/decreaseqty/<%-id%>/<%-cartdata.products.productId%>/">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M8.24268 8.63334L11.5427 5.33334L12.4854 6.27601L8.24268 10.5187L4.00002 6.27601L4.94268 5.33334L8.24268 8.63334Z" fill="black"/>
                                              </svg>
                                        </a>
                                   <% }%>
                                </div>
                            </div>
                        </div>
                        <div class="cols price" style="justify-content: space-between;">₹
                            <%if(cartdata.cartData && cartdata.cartData.discount){%>
                                <%-cartdata.products.qty*cartdata.cartData.discount%>
                                <% }else{%>
                                    <%-cartdata.products.qty*cartdata.cartData.price%>
                          <% }%>
                            <a href="/users/product/cart/deleteitemfromcart/<%-id%>/<%-cartdata.products.productId%>/">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="12" cy="12" r="9" fill="#DB4444"/>
                                    <path d="M9 15L12 12M15 9L11.9994 12M11.9994 12L9 9M12 12L15 15" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg> 
                            </a>
                        </div>
                    </div>
                <%})%>
            </div>
            <div class="returnandupdate" style="visibility: hidden;">
                <a  id="return" style="font-size: 12px;width: 140px;">See All Coupons</a>
                <!-- <a href="">Update cart</a> -->
            </div>
            <div class="place-order">
                
                    <form  class="sp cupon_apply" onsubmit="applyCoupon(event,'<%-id%>','<%-totalAmount%>')" id="couponBoxInput">
                        <input type="text" placeholder="Apply Coupon" name="couponcode" id="couponcode">
                        <button type="submit">apply Coupon</button>
                    </form>
                
                <div class="place_order_box">
                    <div class="headertxt">
                      Cart Total
                    </div>
                    <div class="midtxt">
                        <div class="txt"><span>Subtotal</span> <span>₹<%-totalAmount%></span></div>
                        <div class="txt"><span>Shipping</span> <span>Free</span></div>
                        <%let totalamount=totalAmount%>
                        <div class="txt"><span>Total</span> <span >₹<span id="aftertotal"><%-totalamount%></span></span></div>
                        <div class="txt">
                            <a href="/users/product/cart/checkout/<%-id%>?">Process to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        <%}else{%>
            <div class="empty">
                <img src="/images/cartEmpty.webp" alt="">
            </div>
        <%}%>
    
    </div>
    <%-include('../partials/footer.ejs') %>
</div>
