<%-include('../partials/header.ejs') %>
<div class="home">
    
    <form class="filter1" id="filter" method="post" action="/users/product/filteredby/minandmax/">
        <div class="control">
            
            <input type="number" name="min" placeholder="minimun price">
            <input type="number" name="max" placeholder="maximum price">
        </div>
        <div class="control">
            <button type="submit">filter</button>
        </div>
    </form>
    <div class="forsort">
        <div class="sorts">
        <div class="price spprice" id="spric">
            sort by Price
            <img src="/images/sort.svg" alt="">
        </div>
        <a class="price" href="/users/products/sort-product/latest/">
            sort by Latest
            <!-- <img src="/images/sort.svg" alt=""> -->
        </a>
        <a class="price" href="/users/products/sort-product/oldest/">
            sort by Oldest
            <!-- <img src="/images/sort.svg" alt=""> -->
        </a>
      
        </div>
        <div class="additions">
            <a class="price pr" href="/users/products/sort-product/pricehightolow">
                Highest to Low
                <!-- <img src="/images/sort.svg" alt=""> -->
            </a>
            <a class="price pr" href="/users/products/sort-product/pricelowtohigh">
                Lowest to High
                <!-- <img src="/images/sort.svg" alt=""> -->
            </a>
        </div>
    </div>
    <style>
        .home .home_banner .banner .image_section .image{
            background: url('/images/new15-removebg-preview.png');
            background-position: right;
            background-size:contain;
            background-repeat: no-repeat;
        }
    </style>
    <%-include('../partials/profiletoggle.ejs')%>
    <div class="home_banner">
        <div class="categoy_section">
            <div class="category_links">
                <%categories.forEach((data)=>{%>
                    <a href="/users/product/categories/categoriesby/<%-data._id%>"><%-data.categoryname %></a>
                <%})%>
            </div>
        </div>
        <div class="banner">
            <div class="image_section">
                <div class="text">
                    <div class="items">
                        <div class="logo_txt">
                            <img src="/images/applelogo.svg" alt="">
                            <p>iphone 15 series</p>
                        </div>
                        <div class="logo_txt main_text">
                            <h1>Up to 10% off voucher</h1>
                            <a href="">Shop now <img src="/images/rightgo.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <!-- <img src="/images/iphone15.jpg" alt=""> -->
                </div>
            </div>
        </div>
    </div>
    <%if(err){%>

        <div class="err" style="display: flex;justify-content: center;background: rgba(255, 0, 0, 0.302);width:90%;margin:auto;align-items:center;height:30px">
            <p style="margin: 0;">Your Permission Denied by Admin</p>
        </div>
  <%  }%>
    <div class="products_section">
  
        <%productData.forEach((data)=>{%>
            <%if(!data.deletionStatus){%>
                <a href="/products/product-detail/<%-data._id%>/mainimage" style="text-decoration: none;color:black">
                    <div class="product_card">
                        <div class="image_section">
                            <!-- <div class="move">
                                <a href="/users/product/add-to-cart/<%-data._id%>">
                                    <img src="/images/moveto.svg" alt="">
                                </a>
                                <a href="">
                                    <img src="/images/movewish.svg" alt="">
                                </a>
                            </div> -->
                            <img src="/product-images/<%-data.image[0].mainimage%>" alt="">
                        </div>
                        <div class="detail_section">
                            <p><%-data.productName%></p>
                            <div class="price">
                                <p class="discounted">
                                    <%if(data.discount){%>
                                        ₹<%-data.discount%>
                                    <%}else{%>
                                        ₹<%-data.price%>
                                        <%}%>
                                </p>
                                <p class="mrp">
                                    <%if(data.discount){%>
                                        <%-data.price%>₹
                                   <% }%>
                                </p>
                            </div>
                            <div class="star_rating">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                            </div>
                        </div>
                    </div>
                </a>
           <% }%>
       <% })%>
    </div>
    <script>
        let filterdrop = document.querySelector("#filter");
let filterBtn = document.querySelector("#filterbtn");
filterBtn.addEventListener('click',()=>{

    filterdrop.classList.toggle("active")
})
    </script>
    <%-include('../partials/footer.ejs') %>
</div>
