<%-include('../partials/header.ejs') %>
    <div class="signup">
        <%-include('../partials/profiletoggle.ejs')%>
        <div class="signup_section">
            <div class="image_section">
                <img src="/images/removedSign.png" alt="">
            </div>
            <div class="input_section">

                <form   class="controlls" id="form" method="post" action="/users/account/updateprofile/<%-id%>" enctype="multipart/form-data">
                    <div class="header_text">
                        <h2>Update Profile</h2>
                        <p>Enter your detail below</p>
                    </div>
                            <div class="input_box sp_">
                                <div class="inp_l sp_input">
                                    <input type="file" accept="image" name="profile" id="name" value="<%-userData.name%>"   onchange="displayProfileImage('name','shoImg')">
                                    <label for="name" title="click and update profile" style="cursor: pointer;">
                                        <%if(userData && userData.profileImage){%>
                                            <img src="<%-userData.profileImage%>" alt="" id="shoImg">
                                        <%}else{%>
                                            <img src="/images/profile.jpg" alt="" id="shoImg">
                                        <%}%>
                                    </label>
                                </div>
                            </div>
                            <div class="input_box">
                                <div class="inp_l">
                                    <input type="text" name="name" id="name" value="<%-userData.name%>" required >
                                    <label for="name">Name</label>
                                </div>
                            </div>
                            <!-- <div class="input_box">
                                <div class="inp_l">
                                    <input type="text" id="emailOrMobileInput" name="email_or_Phone" value="<%-userData.email%>"  required>
                                    <label for="emailOrMobileInput">Enter Your Email Address</label>
                                </div>
                            </div> -->
                        
                            <div class="input_box" style="display: flex;align-items: center;justify-content: center;">
                                <button type="submit">Update</button>
                            </div>
                            <div class="input_box" style="display: flex;align-items: center;justify-content: center;">
                </form>
            </div>
        </div>
    </div>
    </div>
    <%-include('../partials/footer.ejs') %>

